<div class="core-object" data-push="<%= @object.id.to_s if signed_in? %>">

  <div class="top">
    <%= render 'shared/popularity', :object => @object, :extra => 'pts' %>
    <%#= render 'favorites/btn', :current_user => @current_user, :object => @object %>
    <%= render 'likes/btn', :current_user => @current_user, :object => @object %>
    <%= render 'core_object_shares/share_btn', :current_user => @current_user, :object => @object %>
  </div>
  
  <% if @object.topic_mentions.length > 0 %>
    <h3 class="section-h">Mentions</h3>
    <div class="section mentions">
      <% @object.topic_mentions.each do |topic| %>
        <%= render 'topics/tag', :topic => topic, :include_image => false %>
      <% end %>
    </div>
  <% end %>

  <% if @object.sources.detect {|s| !s.name.blank?} %>
    <h3 class="section-h">Sources</h3>
    <div class="section sources">
      <% @object.sources.each do |source| %>
        <a href="<%= source.url %>" target="_blank" class="source" rel="nofollow"><%= source.name %></a>
      <% end %>
    </div>
  <% end %>

</div>