<div class='root'>
  <% if @root.class.name != 'Topic' %>
    <% unless @root.title.blank? %>
      <h2 class="titleC">
        <% if @root.sources.empty? %>
          <%= @root.title_clean %>
        <% else %>
          <a href="<%= @root.sources[0].url %>" target="_blank"><%= @root.title_clean %></a>
          <span class='source'><%= @root.sources[0].name %></span>
        <% end %>
      </h2>
    <% end %>
  <% else %>
    <div class='topic-head'>
      <%= image_tag topic_default_picture(@root, 75, 75, 'fit'), :alt => "" %>
      <h2>Talking about <a href="<%= topic_path(@root) %>"><%= @root.name %></a></h2>
      <%= render 'follows/btn', :current_user => @current_user, :target => @root %>
    </div>
  <% end %>

  <% unless @root.class.name == 'Topic' %>
    <% unless @root.class.name == 'Talk' %>
      <div class='actions'>
        <span class='talk-response' data-id='<%= @root.id %>' data-name='<%= @root.title_clean %>' data-type='<%= @root.class.name %>'>+Talk</span>
        <%= render 'likes/btn', :current_user => @current_user, :object => @root %>
        <%= render 'core_object_shares/share_btn', :current_user => @current_user, :object => @root %>
      </div>
    <% end %>

    <%= render "#{@root.class.name.pluralize.underscore}/teaser_list", :object => @root, :current_user => @current_user %>

    <% unless @root.class.name == 'Talk' %>
      <% if @root.topic_mentions.length > 0 %>
        <div class="mentions">
          <% @root.topic_mentions.each do |topic| %>
            <%= render 'topics/tag', :topic => topic, :include_image => false %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% if @root.class.name != 'Topic' %>
    <a href="<%= url_for @root %>" class="talking">
      <span><%= pluralize(@root.response_count.to_i, 'person') %> <%= @root.response_count > 1 || @root.response_count == 0 ? 'are' : 'is' %></span> talking about this
    </a>
  <% end %>
</div>