<% if @responses.length > 0 %>
  <div class='personal'>
    <% @responses.each do |response| %>
      <div class='response'>
        <div class='created'>
          <%= user_link response.user_snippet %>
          <span class='when'><%= pretty_time(response.created_at) %></span>
        </div>
        <p><%= parse_mentions(response.content, response) %></p>
        <div class='actions'>
          <a href="<%= url_for response %>" class="comments">
            <%= response.response_count.to_i %> comments
          </a>
          <span class='comment-response' data-id='<%= response.id %>' data-pid='' data-t="<%= response.user_snippet.username %>'s talk">+Comment</span>
          <%= render 'likes/btn', :current_user => @current_user, :object => response %>
          <%= render 'core_object_shares/share_btn', :current_user => @current_user, :object => response %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>