<% content_for :page_header do %>
  <h1><%= @title %></h1>
<% end %>

<%= form_for TopicConSug.new, :html => { :class => 'ajax' } do |f| %>
  <div class="errors"></div>

  <div class="field lClear topic1">
    <%= f.label :topic1_name, "Choose a Topic" %>
    <%= f.text_field :topic1_name, :class => "tc-auto-pic" %><br />
  </div>
  <%= f.hidden_field :topic1_id, :class => "tc-auto-id", :autocomplete => 'off' %>
  <div class="topic-pic one"><div></div></div>

  <div class="field connection-select">
    <% options = options_for_select(connections.map{ |c| [c.inline, c.id, {"data-d" =>
            '{"pull":"' + c.pull_from.to_s + '",'+
            '"reverse_pull":"' + c.reverse_pull_from.to_s + '",'+
            '"inline":"' + c.inline + '",'+
            '"bi":"' + c.reverse_name.blank?.to_s + '"}'}] }) %>
    <%= f.select(:con_id, options, :prompt => "Choose a Connection") %>
  </div>

  <div class="sug-a one"></div>
  <div id="reverse-b">reverse</div>
  <div class="sug-a two rev"></div>

  <div class="field lClear topic2">
    <%= f.label :topic2_name, "Choose a Topic" %>
    <%= f.text_field :topic2_name, :class => "tc-auto-pic", :autocomplete => 'off' %>
    <br />
  </div>
  <%= f.hidden_field :topic2_id, :class => "tc-auto-id", :autocomplete => 'off' %>
  <div class="topic-pic two"><div></div></div>

  <%= hidden_field_tag :bi, "false", :autocomplete => 'off' %>
  <%= f.hidden_field :pull_from, :autocomplete => 'off' %>
  <%= f.hidden_field :reverse_pull_from, :autocomplete => 'off' %>
  <%= f.hidden_field :inline, :autocomplete => 'off' %>

  <div id="con-description" class="hide">
    <div>
      <span class="t1"></span>
      '<span class="inline"></span>'
      <span class="t2"></span>.
    </div>
    <div>
      The <span class="t1"></span> feed
      <span class="inline-pull"></span> include posts mentioning
      <span class="t2"></span>.
    </div>
    <div>
      The <span class="t2"></span> feed
      <span class="inline-rev"></span> include posts mentioning
      <span class="t1"></span>.
    </div>
  </div>

  <div class="actions">
    <%= f.submit "Submit", :class => "submit" %>
  </div>
<% end %>