<div class="one-two">
  <div class="connection">
    <span>
      <%= sug.topic1_name %>
    </span>
    --->
    <span>
      <%= sug.name %>
    </span>
    --->
    <span>
      <%= sug.topic2_name %>
    </span>
  </div>
  <div class="pull-from">
    <%= sug.pull_ %>
  </div>
</div>
<div class="two-one">
  <div class="connection">
    <span>
      <%= sug.topic1_name %>
    </span>
    --->
    <span>
      <%= sug.name %>
    </span>
    --->
    <span>
      <%= sug.topic2_name %>
    </span>
  </div>
  <div class="pull-from">
    <%= sug.pull_ %>
  </div>
</div>
