<button class="btn-tog <%= !signed_in? || !object.favorited_by?(current_user.id) ? 'favB' : 'unfavB' %> fav_<%= object.id %>">
  <span class="default" data-url="<%= create_favorite_path %>" data-d='{"id":"<%= object.id %>"}' data-m="post">
    <div class="plus-green-icon icon"></div>
    Favorite
  </span>
  <span class="triggered" data-url="<%= destroy_favorite_path %>" data-d='{"id":"<%= object.id %>"}' data-m="delete">
    <div class="minus-green-icon icon"></div>
    Unfavorite
  </span>
</button>