<a name="<%= comment.id.to_s %>"></a>
<div class="comment d-<%= comment.depth.to_s %>" id="comment_<%= comment.id %>">
  <div class="wrapper">
    <div class="profileImage">
      <%= image_tag user_default_picture_path(comment.user_snippet, :d => [50, 50]), :style => "max-width: 50px;" if comment.depth == 0 %>
      <%= image_tag user_default_picture_path(comment.user_snippet, :d => [30, 30]), :style => "max-width: 30px;" if comment.depth != 0 %>
    </div>
    <div class="createdC">
      <%= user_link(comment.user_snippet) %> <%= time_ago_in_words(comment.created_at) %> ago
    </div>
    <%= markdown(parse_mentions(comment.content, comment)) %>
    <% if comment.depth < 5 %>
      <div class="reply">
        <a href="javascript:void(0);" id="reply_<%= comment.id %>" class="reply-show" data-d='{"id":"<%= comment.id %>"}'>reply</a>
      </div>
    <% end %>
    <%= render 'votes/btn', :object => comment, :current_user => current_user %>
    <div class="pop"><%= comment.votes_count %></div>
  </div>
</div>