<%= form_for Comment.new, :html => { :class => "comment_form ajax", :id => 'blank-comment' } do |f| %>
  <h4></h4>

  <div class="errors"></div>

  <div class="field lClear required">
    <%= f.label :content, "What do you want to say..." %>
    <%= f.text_area :content, :spellcheck => false, :autocomplete => :off %>
  </div>

  <%= f.hidden_field :parent_id %>
  <%= f.hidden_field :talk_id %>

  <div class="actions">
    <%= f.submit "Submit Comment", :class => "submit" %>
    <div class="comment-cancel">Cancel</div>
  </div>
<% end %>