<div id="topic-panel" class="sbrC">
  <div class="content">
    <h1><%= @topic.name %></h1>

    <div><%= @topic.followers_count %> followers</div>

    <%= render 'follows/btn', :current_user => @current_user, :target => @topic %>

    <h4>Topic Types:</h4>
    <ul class="topic-types">
      <% @topic.topic_type_snippets.each do |snippet| %>
        <li><%= snippet.name %></li>
      <% end %>
    </ul>

    <h4>Topic Summary:</h4>
    <div class="summary"><%= @topic.summary %></div>

    <div class="topic-connections">
      <% @connections.each do |con_id, connection| %>
        <h4><%= connection[:name] %>:</h4>
        <% connection[:topics].each_with_index do |topic, i| %>
          <% if i > 2 %>
            ... <%= link_to "view all", (connected_topics_path @topic) %>
            <% break %>
          <% end %>
          <%= topic_link topic %><%= ", " unless i == 2 || i == connection[:topics].length - 1 %>
        <% end %>
      <% end %>
    </div>

    <div class="footer">
      <% if can? :update, @topic %>
        <div class="edit-topic-b ac edit" data-url="<%= edit_topic_path %>" data-m="get">edit topic</div>
      <% end %>
    </div>

  </div>

  <div id="topic-edit"></div>
</div>