<div id="topic-panel" class="sbrC">
  <div class="content">
    <h1><%= @topic.name %></h1>
    <ul class="topic-types">
      <% @topic.get_types.each do |snippet| %>
        <li><%= snippet.topic_name %></li>
      <% end %>
    </ul>

    <div class="pop p_<%= @topic.id %>" title="Your Popularity"><%= @topic.pt.to_i %></div>
    <%= image_tag topic_default_picture(@topic, 221, 0, 'fit'), :style => "max-width: 221px;", :class => 'profile-image', :alt => "" %>

    <div class="stats">
      <%= render 'follows/btn', :current_user => @current_user, :target => @topic %>
      <a class="btn followers" href="<%= topic_followers_path @topic %>"><%= @topic.followers_count.to_i %> followers</a>
    </div>

    <div class="summary"><%= @topic.summary %></div>

    <div class="topic-connections">
      <% @connections.each do |con_id, connection| %>
        <div class="connection">
          <h5><%= connection[:name] %></h5>
          <% connection[:topics].each_with_index do |topic, i| %>
            <% if i > 1 %>
              <%= link_to "view all", (connected_topics_path @topic), :class => 'view-all' %>
              <% break %>
            <% end %>
            <%= render 'topics/tag', :topic => topic, :include_image => true, :image_d => 30 %>

            <% if can? :edit, topic %>
              <a data-url="<%= remove_connection_path %>" data-d='{ "con_id":"<%= con_id %>", "topic_id":"<%= @topic.id %>", "con_topic_id":"<%= topic.id %>" }'
                 data-m="delete" class="ac delete">X</a>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>

    <% if can? :update, @topic %>
      <%= link_to "edit topic", edit_topic_path, :class => "edit-topic-b" %>
    <% end %>
  </div>
</div>