<div id="topic-panel" class="sbrC">
  <h1><%= @topic.name %></h1>

  <div><%= @topic.followers_count %> followers</div>

  <ul class="topic-types">
    <% @topic.topic_type_snippets.each do |snippet| %>
      <li><%= snippet.name %></li>
    <% end %>
    <% if @current_user.has_role?('admin') %>
      <li class="none"><%= render 'topic_types/add_type_btn', :topic => @topic %></li>
      <% end %>
  </ul>

  <%= render 'follows/btn', :current_user => @current_user, :target => @topic %>

  <div class="summary">summary</div>

  <div class="footer">
    <div class="content">
      <div class="edit acg" data-url="{{ path('topic_edit', {'id': object.id}) }}">edit</div>
    </div>
  </div>
</div>