<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <% if flash[:alert] %>
    <div class='errors'>
      <div class='error'>
        Username/Email and password combo invalid.
        If you are having trouble logging in please let us know at support@projectlimelight.com
      </div>
    </div>
  <% end %>

  <div class="lClear">
    <%= f.label :login, 'Email or Username' %>
    <%= f.text_field :login %>
  </div>

  <div class="lClear">
    <label for="login_password">Password</label>
    <%= f.password_field :password, :id => 'login_password', :autocomplete => :off %>
  </div>

  <%# if devise_mapping.rememberable? %>
  <% if nil %>
    <div class="lClear">
      <%= f.label :remember_me %>
      <%= f.check_box :remember_me %>
    </div>
  <% end %>

  <%= f.submit "Log In", :class => 'submit' %>
<% end %>