<%= form_for @topic, :html => {:class => "ajax"} do |f| %>
  <div class="errors"></div>

  <div class="field">
    <h5>Topic Name</h5>
    <%= f.text_field :name, :class => "tc-auto" %>
  </div>

  <div class="field">
    <h5>Short Name</h5>
    <%= f.text_field :short_name %>
  </div>

  <div class="field">
    <h5>Summary</h5>
    <%= f.text_area :summary %>
  </div>

  <div class="actions">
    <%= f.submit :class => "submit" %>
  </div>
<% end %>