<%= form_for @topic, :html => {:class => "ajax"} do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h5>Topic Name</h5>
    <%= f.text_field :name, :class => "tc-auto" %>
  </div>

  <div class="field">
    <h5>Short Name</h5>
    <%= f.text_field :short_name %>
  </div>
  
  <div class="field">
    <h5>Summary</h5>
    <%= f.text_area :summary %>
  </div>

  <div class="actions">
    <%= f.submit :class => "submit" %>
  </div>
<% end %>
