<%= form_for @topic, :html => {:class => "ajax"} do |f| %>
  <div class="errors"></div>

  <div class="field">
    <%= f.label :name, "Name" %>
    <br />
    <%= f.text_field :name, :class => "tc-auto" %>
  </div>

  <div class="field">
    <%= f.label :short_name, "Short Name" %>
    <br />
    <%= f.text_field :short_name %>
  </div>
  
  <div class="field">
    <%= f.label :summary, "Summary" %>
    <br />
    <%= f.text_area :summary %>
  </div>

  <div class="actions">
    <%= f.submit :class => "submit" %>
  </div>
<% end %>
