<form action="<%= freebase_update_path topic_slug %>" id="freebase-update-form" method="POST" class="ajax">

  <div class="check-label">
    <%= check_box_tag "use_image" %>
    <%= label_tag "use_image", "Use Image?" %>
  </div>
  <div class="field">
    <img class="image-preview" src="<%= image_url %>">
    <%= hidden_field_tag "image", image_url %>
  </div>

  <div class="check-label">
    <%= check_box_tag "use_summary" %>
    <%= label_tag "use_summary", "Use Summary?" %>
  </div>
  <div class="field">
    <%= text_area_tag "summary", description, :id => "summary" %>
  </div>

  <div class="check-label">
    <%= check_box_tag "use_aliases" %>
    <%= label_tag "use_aliases", "Use Aliases?" %>
  </div>
  <div class="field">
    <%= text_field_tag "aliases", aliases.join(", "), :id => "aliases" %>
  </div>

  <%= hidden_field_tag "freebase_id", ids["id"] %>
  <%= hidden_field_tag "freebase_mid", ids["mid"] %>

  <div class="actions">
    <%= submit_tag "Update", :class => "submit" %>
  </div>
</form>

<div class="clear-left"></div>

<%= label_tag nil, "Types" %>
<% types.each do |type| %>
  <div class="clear-left"></div>
  <%= render :partial => "topic_connections/add_form", :locals => {:type => type, :topic_id => topic_id} %>
<% end %>