<form action="<%= freebase_update_path topic_slug %>" id="freebase-update-form" method="POST" class="ajax">

  <div class="field">
    <img class="image-preview" src="<%= image_url %>">
  </div>

  <div class="check-label">
    <%= check_box_tag "use_summary" %>
    <%= label_tag "use_summary", "Use Summary?" %>
  </div>
  <div class="field">
    <%= text_area_tag "summary", description, :id => "summary" %>
  </div>

  <%= hidden_field_tag "freebase_id", ids["id"] %>
  <%= hidden_field_tag "freebase_mid", ids["mid"] %>

  <div class="actions">
    <%= submit_tag "Update", :class => "submit" %>
  </div>
</form>

<div class="clear-left"></div>

<h5>Possible Aliases</h5>
<% aliases.each do |fb_alias| %>
  <div class='fb-connection'><%= fb_alias %></div>
<% end %>

<h5>Possible Connections</h5>
<% types.each do |type| %>
  <div class='fb-connection'><%= type[:name] %></div>
<% end %>