<div class='g-images'>
  <% if google_images.length > 0 %>
    <div class='left'><<</div>
    <div class='right'>>></div>
    <%= form_tag(topic_picture_update_path(topic), :method => "put", :class => 'ajax') do %>
      <% google_images.each_with_index do |gi,i| %>
        <div class='image <%= 'hide' unless i == 0 %>' data-original='<%= gi.original %>'>
          <%= image_tag(gi.thumbnail) %>
          <div class='original-size'>Original Size: <%= "#{gi.width} x #{gi.height}" %></div>
        </div>
      <% end %>
      <input type='hidden' name='image_location' value='<%= google_images[0].original %>' />
      <div>
        <input class='submit' type='submit' value='Use Google Image' />
      </div>
    <% end %>
  <% else %>
    no google images
  <% end %>
</div>
<div class='clear'></div>