<% topics.each do |topic| %>
  <div class="topic-health-teaser <%= cycle("odd", "") -%>">
    <%= image_tag topic_default_picture(topic, 100, 100, 'fit'), :style => "max-width: 100px;", :class => 'profile-image', :alt => "" %>
    <h3><%= topic_link topic %> (points: <%= topic.pt.to_i %>, health: <%= topic.health_index %>)</h3>
    <div class='google'>
      <h4>Use Image From Google</h4>
      <div class='ac fetch-google-images' data-m='get' data-url='<%= topic_google_images_path(topic) %>'>Fetch Google Images</div>
    </div>
    <div class='connections'>
      <h4>Add A Connection<%= " (#{topic.primary_type})" if topic.primary_type %></h4>
      <%#= render_cell :topic, :add_connection, topic %>
    </div>
    <%= render :partial => 'destroy_btn', :locals => { :path => topic_path(topic) } %>
  </div>
<% end %>

<% unless topics.count(true) == 0 || !@more_path %>
  <div id="load-more" class="ac" data-m="get" data-url="<%= @more_path %>">load more</div>
<% end %>