<div class='hover-tab topic-hover'>
  <div class="pop" title='Popularity'><%= @topic.pt.to_i %></div>
  <div class="head">
    <%= image_tag topic_default_picture(@topic, 60, 60, 'fillcropmid'), :style => "max-width: 60px; max-height: 60px;", :alt => "" %>
    <%= link_to @topic.name, @topic %>
    <% if @topic.get_primary_types.length > 0 %>
      <div class="types">
        <% @topic.get_primary_types.each do |type| %>
          <span><%= type.topic_name %></span>
        <% end %>
      </div>
    <% end %>
    <% if @topic.short_name && !@topic.short_name.blank? %>
      <div class='sn'><%= "##{@topic.short_name}" %></div>
    <% end %>
    <div class="fol">
      <%= render 'follows/btn', :target => @topic %>
      <div class="folC"><%= @topic.followers_count %> followers</div>
    </div>
  </div>
  <div class="summary"><%= truncate(@topic.summary, :length => 150, :ommision => '...') %></div>
</div>