<div class='hover-tab topic-hover'>
  <div class="head">
    <%= image_tag topic_default_picture(@topic, 75, 75, 'fillcropmid'), :alt => "" %>
    
    <%= link_to @topic.name, @topic %>

    <% if @topic.primary_type || (@topic.short_name && !@topic.short_name.blank?) %>
      <div class="subhead">
        <%= @topic.primary_type if @topic.primary_type %>
        <%= ' - ' if @topic.primary_type && @topic.short_name && !@topic.short_name.blank? %>
        <%= "##{@topic.short_name}" if @topic.short_name && !@topic.short_name.blank? %>
      </div>
    <% end %>
    
    <div class="summary"><%= truncate(@topic.summary, :length => 150, :ommision => '...') %></div>
  </div>
  <div class='footer'>
    <div class="folC"><%= @topic.followers_count.to_i %> followers</div>
    <%= render 'follows/btn', :target => @topic %>
  </div>
</div>