<% content_for :page_header do %>
  <h1><%= @topic.name %> connections</h1>
<% end %>

<% content_for :sidebar_right do %>
  <%= render_cell(:topic, :sidebar_right, current_user, @topic, @connections) %>
<% end %>

<div class="topic-con-full">
  <% @connections.each do |con_id, connection| %>
    <h4><%= connection[:name] %>:</h4>
    <ul class="alt-list">
      <li class="labels">
        <div>Topic</div>
        <div>Popularity</div>
        <div>Followers</div>
      </li>
      <% connection[:topics].each do |topic| %>
          <%= render 'topics/teaser', :topic => topic %>
          <% if can? :edit, topic %>
            <a data-url="<%= remove_connection_path %>" data-d='{ "con_id":"<%= con_id %>", "topic_id":"<%= @topic.id %>", "con_topic_id":"<%= topic.id %>" }'
               data-m="delete" class="ac delete">X</a>
          <% end %>
      <% end %>
    </ul>
  <% end %>
</div>