<% content_for :sidebar_right do %>
  <%= render_cell(:topic, :sidebar_right, current_user, @topic) %>
<% end %>

<% content_for :head do %>
  <link type="text/css" rel="stylesheet" href="http://freebaselibs.com/static/suggest/1.3/suggest.min.css" />
<% end %>
<% content_for :js do %>
  <script type="text/javascript" src="http://freebaselibs.com/static/suggest/1.3/suggest.min.js"></script>
<% end %>

<div class="section">
  <h3>Freebase</h3>
  <div class="field">
    <%= label_tag "freebase-ac", "Suggest from Freebase" %><br/>
    <%= text_field_tag "freebase", @topic.name, :id => "freebase-ac", "data-url" => freebase_lookup_path(@topic) %>
  </div>

  <% if @topic.fb_id %>
    <div id="freebase-lookup-id" data-id="<%= @topic.fb_id %>"></div>
  <% end %>
  <div id="freebase-form-c"></div>
</div>

<div class="clear-left"></div>

<div class="section">
  <h3>Edit Topic Info</h3>
  <%= render 'form' %>
</div>

<div class="clear-left"></div>

<div class="section">
  <h3>Change Default Image</h3>
  <%= image_tag topic_default_picture(@topic, 100, 100, :fit), :style => "max-width: 100px;", :class => 'topic-image', :alt => "" %>
  <div class="upload" id="topic_uploadB">Change Image</div>
  <div id="topic_uploadB_progress"></div>
  <% content_for :js do %>
    <%= render "topics/image_upload_js" %>
  <% end %>
</div>

<div class="clear-left"></div>

<div class="section">
  <h3>Edit Topic Connections</h3>
  <%= render_cell :topic, :add_connection, @topic %>
</div>

<div class="clear-left"></div>

<div class="section">
  <h3>Add an Alias</h3>
  <%= render "topics/add_alias_form", :topic => @topic %>
</div>

<div class="clear-left"></div>

<div class="section">
  <h3>Merge Into a Topic</h3>
  <%= render "topics/merge_form", :topic => @topic %>
</div>
