<h4>Edit Topic Info</h4>
<%= render 'form' %>

<h4>Edit Topic Types</h4>

<ul class="sidebar-list">
  <% @topic.topic_type_snippets.each do |snippet| %>
    <li>
      <%= snippet.name %>
      <a data-url="<%= topic_type_path %>" data-d='{ "type_id":"<%= snippet.id %>", "topic_id":"<%= @topic._public_id %>"}' data-m="delete" class="ac delete">X</a>
    </li>
  <% end %>
</ul>

<%= render_cell :topic_type, :new, :topic => @topic %>

<div class="edit topic-done-b">done</div>
