<%= form_for InviteCode.new, :html => { :class => 'ajax' } do |f| %>
  <div class="errors"></div>

  <div class="field lClear">
    <%= f.label :code, "Code (leave blank for random)" %>
    <%= f.text_field :code, %>
  </div>

  <div class="field lClear">
    <%= f.label :allotted, "Number of Invites (leave blank to fuck everything up)" %>
    <%= f.text_field :allotted, %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", :class => "submit" %>
  </div>
<% end %>