<%= form_for InviteCode.new, :url => :check_invite_code, :html => { :class => 'ajax' } do |f| %>
  <% if flash[:register_fail] %>
    <div class="errors showem">
      <div class="error"><%= flash[:register_fail] %></div>
    </div>
  <% end %>
  <div class="field lClear">
    <%= f.label :code, "Invite Code" %>
    <%= f.text_field :code, %>
  </div>

  <div class="actions">
    <%= f.submit "Submit", :class => "submit" %>
  </div>
<% end %>