<%= form_for type, :html => { :class => 'ajax group' } do |f| %>

  <div class="field lClear">
    <%= f.label :name, "Enter here or select below" %>
    <%= f.text_field :name, :class => "bottom" %><br />
  </div>

  <%= collection_select(:topic_type, :id, types, :id, :name, :prompt => true) %>

  <%= f.hidden_field(:topic_id, {:value => topic.encoded_id}) %>

  <div class="actions">
    <%= f.submit "Add" %>
  </div>
<% end %>