<%
 if Rails.env.development?
   base = 'http://localhost:3000'
 elsif Rails.env.staging?
   base = 'http://staging.projectlimelight.com'
 else
   base = 'http://www.projectlimelight.com'
 end
%>

<% content_for :footer do %>
  <%= render :partial => "shared_mailer/email_footer" %>
<% end %>

<p>Hi <%= @user.first_or_username %>, you have <%= @notifications.length > 1 ? "some new notifications" : "a new notification" %>:</p>

<% @notifications.each_with_index do |notification,i| %>
  <% is_first = nil %>
  <% if i == 0 %>
    <% is_first = true %>
  <% end %>
  <div style="padding: 10px; <%= 'border-top: 1px solid #EFEFEF;' unless is_first %>">
    <a href="<%= base + user_path(notification.triggered_by) %>" target="_blank"><%= notification.triggered_by.first_or_username %></a>
    <%= action_text(notification, base) %>
  </div>
<% end %>