<%= form_for(@talk) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <% if defined? response_to %>
    <%= f.hidden_field :response_to, :value => response_to.id %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
