<%= form_for talk, :html => { :class => 'new_talk ajax' } do |f| %>
  <%#= render "shared/mention_help" %>

  <div class="errors"></div>

  <div class="main_content">
    <div class="talk_content required lClear">
      <%= f.label :content, "What do you want to talk about?" %>
      <%= render "shared/mention_box", :f => f %>
      <%= render "shared/mention_suggestions", :f => f %>
    </div>
    <div class="tweet_content hide">
      <div class="head">tweet</div>
      <%= f.text_area :tweet_content, :spellcheck => false, :autocomplete => :off %>
    </div>
    <%= render "shared/mention_ooc", :f => f %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", :class => 'submit' %>
    <% unless signed_in? && current_user.get_social_connect('twitter') %>
      <div class="connect_twitter" data-auth='<%= user_omniauth_authorize_path(:twitter) %>'>
        Connect Twitter
        <div class="twitter-bird-small"></div>
      </div>
    <% else %>
      <div class="tweet">
        <%= f.check_box :tweet, :autocomplete => :off %>
        tweet this
      </div>
    <% end %>
    <div class="cancel">cancel</div>
  </div>

  <% if responding %>
    <%= f.hidden_field :response_to_id, :value => responding.id.to_s %>
  <% end %>
<% end %>