<%= form_for @talk, :html => { :class => 'core_object' } do |f| %>
  <div class="help">
    <span>red</span> = required field
  </div>

  <%= render 'shared/error_messages', :object => f.object %>

  <div class="group">
    <div class="field lClear required">
      <%= f.label :content, "What do you want to talk about?" %>
      <%= f.text_area :content %>
      <%= render 'shared/topic_tagger' %>
    </div>

    <div class="actions">
      <%= f.submit "Post Talk" %>
    </div>
  </div>

<% end %>