<div class='response' data-id='<%= object.id.to_s %>'>
  <%= image_tag user_default_picture_path(object.user_snippet, :w => 30, :h => 30, :m => 'fillcropmid'), :alt => "" %>
  <p>
    <%= user_link object.user_snippet %>
    <%= parse_mentions(object.content, object) %>
  </p>
  <div class='actions'>
    <span class='when'><%= pretty_time(object.created_at) %></span>
    <a href="<%= url_for object %>" class="comments">
      <%= object.response_count.to_i %> comments
    </a>
    <span class='comment-response' data-id='<%= object.id %>' data-pid='' data-t="<%= object.user_snippet.username %>'s talk">+Comment</span>
    <%= render 'likes/btn', :current_user => current_user, :object => object %>
    <%= render 'core_object_shares/share_btn', :current_user => current_user, :object => object %>
  </div>
</div>