<% title = capture do %>
  <%= user_link object.user_snippet %>
  <% if object.response_to %>
    @
    <a href="{{ path('object_show', {'slug': object.connectedFrom[0].connectedTo.slug }) }}" class="p">
      [connected title]
      <span class="tType">Talk</span>
    </a>
  <% end %>
  <!-- IMAGE LOCATION -->
<% end %>

<% content = capture do %>
  <%= parse_mentions(markdown(object.content), object) %>
<% end %>

<% created_by = capture do %>
  <%= time_ago_in_words(object.created_at, false) %> ago
<% end %>

<%= render 'core_objects/list_teaser_content', :object => object, :title => title, :content => content, :created_by => created_by %>

<%= render 'core_objects/list_teaser_mentions', :object => object %>

<%= render 'core_objects/list_teaser_action_box', :object => object %>