<% title = capture do %>
  <%= user_link object.user_snippet %>
  <% if object.response_to && !response %>
    <span>@</span>
    <a href="<%= core_object_url(object.response_to) %>" class="r">
      <%= object.response_to.title %>
      <div class="<%= object.response_to.type.parameterize %>-grey-icon icon"></div>
    </a>
  <% end %>
<% end %>

<% content = capture do %>
  <%= markdown(parse_mentions(object.content, object)) %>
<% end %>

<% created_by = capture do %>
  <%= time_ago_in_words(object.created_at, false) %> ago
<% end %>

<%= render 'core_objects/list_teaser_content', :object => object, :title => title, :content => content, :created_by => created_by %>

<%= render 'core_objects/list_teaser_mentions', :object => object, :response => response %>

<%= render 'core_objects/_feed_teaser_actions', :object => object %>