<% cache("teaser-#{object.id.to_s}-list-top#{'-response' if response}") do %>

<div class="teaser list talk <%= 'response' if response %>" data-push="<%= object.id %>">

  <div class="left">
    <%= image_tag user_default_picture_path(object.user_snippet, :w => 65, :h => 65, :m => 'fillcropmid'), :style => "max-width: 65px;", :alt => "" %>
  </div>

  <div class="wrapper">
    <% if object && object.response_to && response != true %>
      <div class="response">
        <span>@</span>
        <a href="<%= core_object_url(object.response_to) %>" class="r">
          <%= object.response_to.title %>
        </a>
      </div>
    <% end %>

    <div class="content">
      <%= "<p>#{parse_mentions(object.content, object)}</p>".html_safe %>
<% end %>

      <%= render 'core_objects/feed_teaser_created', :object => object %>

      <% if can? :destroy, object %>
        <%= render :partial => 'core_objects/disable_btn', :locals => { :path => disable_talk_path(object) } %>
      <% end %>

      <%= render 'core_objects/feed_teaser_actions', :object => object %>
      <div class="pc pc_<%= object.id.to_s %>"></div>
      <div class="pt_<%= object.id.to_s %> hide"><%= object.pt %></div>

<% cache("teaser-#{object.id.to_s}-list-bottom#{'-response' if response == true}") do %>
    </div>
    <div class="connectionsC">
      <% unless response == true %>
        <div class="oType"><div class="talk-grey-icon" title="talk"></div></div>

        <a href="<%= url_for object %>" class="commentC p">
          <div class="comment-icon"></div>
          <%= object.response_count.to_i %>
        </a>
      <% end %>

      <% if response == true %>
        <div class="respond <%= 'auth' unless signed_in? %>" data-d='{"id":"<%= object.id.to_s %>"}'>add reply</div>
      <% end %>

      <% if object.topic_mentions %>
        <div class="mentions">
          <% object.topic_mentions.each do |topic| %>
            <%= render 'topics/tag', :topic => topic, :include_image => false %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="clear"></div>
<% end # cache %>
</div>