<p><%= parse_mentions(object.content, object) %></p>

<%= user_link object.user_snippet %>
<div class='created_at'>
  <%= pretty_time(object.created_at) %>
</div>

<div class='actions'>
  <a href="<%= url_for object %>" class="comments">
    <%= object.response_count.to_i %> comments
  </a>
  <span class='comment-response' data-id='<%= object.id %>' data-pid='' data-t="<%= object.user_snippet.username %>'s talk">+Comment</span>
  <%= render 'likes/btn', :current_user => current_user, :object => object %>
  <%= render 'core_object_shares/share_btn', :current_user => current_user, :object => object %>
</div>

<% if can? :destroy, object %>
  <%= render :partial => 'core_objects/disable_btn', :locals => { :path => disable_talk_path(object) } %>
<% end %>