<% if @talk.status == "active" %>
  <% content_for :sidebar_right do %>
    <%= render_cell(:core_object, :sidebar, current_user, @talk) %>
  <% end %>

  <% content_for :page_header do %>
    <h1 class="core-object">
      <%= parse_mentions(@talk.content, @talk) %>
    </h1>

    <div class="createdC">
      <%= time_ago_in_words(@talk.created_at, false) %> ago by
      <%= user_link @talk.user_snippet %>
    </div>

    <% if can? :destroy, @talk %>
      <%= render :partial => 'core_objects/disable_btn', :locals => { :path => disable_talk_path(@talk) } %>
    <% end %>

    <div class="clear"></div>
  <% end %>

  <% if @root %>
    <div class='root-object-c'>
      <h4 class='root-response'>Response to a <%= @root.class.name %></h4>
      <div class='root-object <%= 'with-video' if @root.class.name == 'Video' %> <%= 'with-media' if @root.class.name != 'Video' && @root.images.length > 0 %>'>
        <div class='media'>
          <% if @root.class.name == 'Video' %>
            <%= render "#{@root.class.name.downcase.pluralize}/media", :object => @root, :width => 200, :height => 160, :show_video => true, :autoplay => false %>
          <% else %>
            <%= render "#{@root.class.name.downcase.pluralize}/media", :object => @root, :width => 100, :height => 100 %>
          <% end %>
        </div>
        <h4 class="title">
          <% if @root.sources.empty? %>
            <%= @root.title_clean %>
          <% else %>
            <a href="<%= @root.sources[0].url %>" target="_blank"><%= @root.title_clean %></a>
            <span class='source'><%= @root.sources[0].name %></span>
          <% end %>
        </h4>
        <a href="<%= url_for @root %>" class="talking">
          <span><%= pluralize(@root.response_count.to_i, 'person') %> <%= @root.response_count > 1 || @root.response_count == 0 ? 'are' : 'is' %></span> talking about this
        </a>
      </div>
      <div class='talk-snippet'>
        <p><%= user_link @talk.user_snippet %> " <%= parse_mentions(@talk.content, @talk) %> "</p>
      </div>
    </div>

  <% end %>

  <%= render "comments/comment_header", :object => @talk %>
  <%= render_cell :comment, :thread, @talk.id, true %>

<% else %>
  <div class="empty">This talk has been removed</div>
<% end %>