<div id="auth_box">
  <div class="top">
    <%= image_tag 'splash_top.gif' %>
  </div>
  <div class="bottom">
    <div class="invite <%= 'hide' if show == :login || show == :register %>">
      <%= render "invite_codes/redeem_form" %>
      <div class="clear"></div>
      <div class="switch-c">or <span class="switch">Login</span></div>

    </div>
    <div class="login-reg <%= 'hide' unless show == :login || show == :register %>">
      <div class="left">
        <div class="head">Use your existing social account.</div>
        <a href="<%= user_omniauth_authorize_path(:facebook) %>">
          <div class="option one">
            <div class="log">log in with</div>
            <div class="facebook-l-icon"></div>
          </div>
        </a>
        <!--<a href="<%#= user_omniauth_authorize_path(:google_oauth2) %>">-->
          <!--<div class="option two">-->
            <!--<div class="log">log in with</div>-->
            <!--<div class="google-l-icon"></div>-->
          <!--</div>-->
        <!--</a>-->
        <div class="foot1">We do not share your information.</div>
        <div class="foot2">We do not post to your profile without your permission.</div>
      </div>
      <div class="right">
        <div id="auth-login" class="<%= 'hide' unless show == :login %>">
          <div class="head">... or log in directly with Limelight below.</div>
          <%= render "users/sessions/new" %>
          <div class="switch">I don't have a Limelight account.</div>
        </div>
        <div id="auth-register" class="<%= 'hide' if show == :login %>">
          <div class="head">... or join directly with Limelight below.</div>
          <%= render "users/registrations/new" %>
          <div class="switch">I already have a Limelight account.</div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>