<div class='beta-about hide'>
  <p class='summary'>
    On Limelight, you can follow users (what else
    is new), but you can also follow topics. We
    show you videos, pictures, links, and discussion
    from your friends about the topics that interest
    you.
  </p>

  <div class='why'>Here are some reasons you want an invite</div>

  <div class='reason'>
    <b>It's smart.</b>
    We distribute content through the
    topics the content is about, and show you what your friends
    say about it all.
  </div>
  <div class='reason'>
    <b>Influence.</b>
    We measure a user's influence in the topics they discuss, and use it to
    spread quality content to interested users.
  </div>
  <div class='reason'>
    <b>It's beautiful.</b>
    Mmm pretty pictures.
  </div>
  <div class='back'>
    Back <div class='ll-green-arrow-left'></div>
  </div>
</div>

<div class='beta-team hide'>
  <p>
    We're Marc MacLeod and Matt McCormick. We met as roommates freshman year at Tufts University,
    because someone in admissions went "Ha! Look at these names."
  </p>
  <p>
    We currently live in New York City, but we started building Limelight while living in Boston.
    So while we don't like talking sports, we'd love to talk about Limelight.
    Especially if you want to write about us. Or invest.
  </p>
  <p>
    We've spent all this time building Limelight because we're lazy (ironic, right?). We want a quicker
    way to find and discuss everything that interests us.
    We don't want to Google everything cool, we just want to follow it and have the content come to us.
    So if that's something that interests you, we look forward to seeing you on the site!
  </p>


  <div class='email'>
    <a href="mailto:marc@projectlimelight.com">Marc</a> & <a href="mailto:matt@projectlimelight.com">Matt</a>
  </div>

  <div class='back'>
    Back <div class='ll-green-arrow-left'></div>
  </div>
</div>

<div class="beta-signup <%= 'hide' unless show != :login && show != :register %>">
  <form id="beta-signup-form">
    <div class="errors"></div>
    <input id="beta-signup-email" name="email" placeholder="Email..." type="text" autocomplete="off" />
    <input class="btn btn-success" type="submit" value="Request Invite">

    <div>
      <div class='invite-code'>I have an invite code</div>
      <div class='account'>I have an account</div>
    </div>
  </form>

  <div class='beta-signup-success hide'>
    <h3>Thanks for signing up for the beta!</h3>
    <p>
      We will be letting users onto Limelight in waves.
      The faster we reach our goal, the faster you get in,
      so help us spread the word using the buttons below!
      We will love you forever.
    </p>
  </div>

  <div class="social">
    <div class="fb-like" data-href="http://www.facebook.com/pages/Limelight/240530529343415" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
    <a href="https://twitter.com/share?url=http://projectlimelight.com&text=foo bar" class="twitter-share-button" data-lang="en">Tweet</a>
    <div class="google">
      <div class="g-plusone" data-size="medium" data-href="http://projectlimelight.com"></div>
    </div>
  </div>

</div>

<div class="invite-form hide">
  <%= render "invite_codes/redeem_form" %>
  <div class='back'>
    Back <div class='ll-green-arrow-left'></div>
  </div>
</div>

<div class="beta-login <%= 'hide' unless show == :login %>">
  <a href="<%= user_omniauth_authorize_path(:facebook) %>" class='facebook'>
    <%= image_tag('facebook-login-button.gif') %>
  </a>
  <div class="foot">We do not share your information.</div>
  <div class="foot">We do not abuse your wall.</div>

  <div class='divider'>
    <div>OR</div>
  </div>

  <div class="foot">Login directly with Limelight.</div>
  <%= render "users/sessions/new" %>
  <div class='back'>
    Back <div class='ll-green-arrow-left'></div>
  </div>
</div>

<div class="beta-register <%= 'hide' unless show == :register %>">
  <div class='invite-code'>
    Great, your invite worked!
    You can now register below.
  </div>

  <a href="<%= user_omniauth_authorize_path(:facebook) %>" class='facebook'>
    <%= image_tag('facebook-login-button.gif') %>
  </a>
  <div class="foot">We do not share your information.</div>
  <div class="foot">We do not abuse your wall.</div>

  <div class='divider'>
    <div>OR</div>
  </div>

  <div class="foot">Register directly with Limelight.</div>
  <%= render "users/registrations/new" %>
  <div class='back'>
    Back <div class='ll-green-arrow-left'></div>
  </div>
</div>