<div class="field">
  <div class="setting-text">When someone follows me</div>
  <div class="btn-group">
    <div class="btn radio-btn <%= "btn-info" if user.email_follow == "2" %>" name="email_follow" data-value="2">Immediately</div>
    <div class="btn radio-btn <%= "btn-info" if user.email_follow == "1" %>" name="email_follow" data-value="1">Once a day</div>
    <div class="btn radio-btn <%= "btn-info" if user.email_follow == "0" %>" name="email_follow" data-value="0">Never</div>
  </div>
</div>

<div class="field">
  <div class="setting-text">When someone comments on something I said</div>
  <div class="btn-group">
    <div class="btn radio-btn <%= "btn-info" if user.email_comment == "2" %>" name="email_comment" data-value="2">Immediately</div>
    <div class="btn radio-btn <%= "btn-info" if user.email_comment == "1" %>" name="email_comment" data-value="1">Once a day</div>
    <div class="btn radio-btn <%= "btn-info" if user.email_comment == "0" %>" name="email_comment" data-value="0">Never</div>
  </div>
</div>

<div class="field">
  <div class="setting-text">When someone mentions me in a post</div>
  <div class="btn-group">
    <div class="btn radio-btn <%= "btn-info" if user.email_mention == "2" %>" name="email_mention" data-value="2">Immediately</div>
    <div class="btn radio-btn <%= "btn-info" if user.email_mention == "1" %>" name="email_mention" data-value="1">Once a day</div>
    <div class="btn radio-btn <%= "btn-info" if user.email_mention == "0" %>" name="email_mention" data-value="0">Never</div>
  </div>
</div>

<div class="field">
  <div class="setting-text">Email me weekly with sweet posts I will definitely like*</div>
  <div class="btn s-btn <%= user.weekly_email ? "btn-info" : "" %>" name="weekly_email" data-loading-text="updating...">
    <%= user.weekly_email ? "On" : "Off" %>
  </div>
</div>

<div class="note">*maybe</div>