<li class="teaser user <%= cycle("odd", "") -%>">
  <div><%= user_link user %></div>
  <div class="score"><%= user.score.to_i %></div>
  <div><%= link_to user.followers_count, user_followers_path(user) %></div>
  <%= render 'follows/btn', :current_user => @current_user, :target => user %>
</li>