<div class="content-tile" id="user-settings">
  <div class="section">
    <div class="top">
      <h4>Basic Info</h4>
    </div>

    <div class='meat'>
      <%= render 'form', :user => current_user %>
    </div>
  </div>

  <div class="clear"></div>

  <div class="section image-settings">
    <div class="top">
      <h4>Profile Image</h4>
    </div>

    <div class='meat'>
      <%= image_tag current_user.image_url(:fit, :normal), :style => "max-width: 100px;", :class => 'profile-image', :alt => "" %>
      <% content_for :js do %>
        <%#= render "users/image_upload_js" %>
      <% end %>

      <div class="field">
        <div class="setting-text">Use Facebook Image</div>
        <% if current_user.fbuid %>
          <div class="btn-group">
            <div class="btn radio-btn <%= "btn-info" if current_user.use_fb_image %>" name="use_fb_image" data-value="true">On</div>
            <div class="btn radio-btn <%= "btn-info" unless current_user.use_fb_image %>" name="use_fb_image" data-value="false">Off</div>
          </div>
        <% else %>
          <div class='social-connect facebook'>
              <a href="/users/auth/facebook" class='facebook'>
                <img src="/assets/images/facebook-connect-button.gif" />
              </a>
          </div>
      <% end %>
      </div>

      <div class="upload btn disabled" id="user_uploadB">Upload My Own Image (coming soon)</div>
      <div id="user_uploadB-progress"></div>
    </div>
  </div>

  <div class="section social-settings">
    <div class="top">
      <h4>Social Settings</h4>
    </div>

    <div class='meat'>
      <div class="field">
        <div class="setting-text">Auto-follow Twitter friends on Limelight</div>
        <% if current_user.twuid %>
          <div class="btn-group">
            <div class="btn radio-btn <%= "btn-info" if current_user.auto_follow_tw %>" name="auto_follow_tw" data-value="true">On</div>
            <div class="btn radio-btn <%= "btn-info" unless current_user.auto_follow_tw %>" name="auto_follow_tw" data-value="false">Off</div>
          </div>
        <% else %>
          <div class='social-connect twitter'>
            <a href="/users/auth/twitter" class='twitter'>
              <img src="/assets/images/twitter-connect-button.gif" />
            </a>
          </div>
        <% end %>
      </div>

      <div class="field">
        <div class="setting-text">Auto-follow Facebook friends on Limelight</div>
        <% if current_user.fbuid %>
          <div class="btn-group">
            <div class="btn radio-btn <%= "btn-info" if current_user.auto_follow_fb %>" name="auto_follow_fb" data-value="true">On</div>
            <div class="btn radio-btn <%= "btn-info" unless current_user.auto_follow_fb %>" name="auto_follow_fb" data-value="false">Off</div>
          </div>
        <% else %>
          <div class='social-connect facebook'>
              <a href="/users/auth/facebook" class='facebook'>
                <img src="/assets/images/facebook-connect-button.gif" />
              </a>
          </div>
        <% end %>
      </div>

      <div class="field">
        <div class="setting-text">Post users/topics I follow on Limelight to Facebook (occasionally)</div>
        <div class="btn-group">
          <div class="btn radio-btn <%= "disabled" unless current_user.fbuid %> <%= "btn-info" if current_user.og_follows %>" name="og_follows" data-value="true">On</div>
          <div class="btn radio-btn <%= "disabled" unless current_user.fbuid %> <%= "btn-info" unless current_user.og_follows %>" name="og_follows" data-value="false">Off</div>
        </div>
      </div>
      <div class="field">
        <div class="setting-text">Post my Limelight likes to Facebook (occasionally)</div>
        <div class="btn-group">
          <div class="btn radio-btn <%= "disabled" unless current_user.fbuid %> <%= "btn-info" if current_user.og_likes %>" name="og_likes" data-value="true">On</div>
          <div class="btn radio-btn <%= "disabled" unless current_user.fbuid %> <%= "btn-info" unless current_user.og_likes %>" name="og_likes" data-value="false">Off</div>
        </div>
      </div>
    </div>
  </div>

  <div class="clear"></div>

  <div class="section email-settings">
    <div class="top">
      <h4>Emails</h4>
    </div>

    <div class='meat'>
      <%= render 'settings_form', :user => current_user %>
    </div>
  </div>
</div>