<div class="content-tile" id="user-settings">
  <section>
    <h3>Basic Info</h3>

    <%= render 'form', :user => current_user %>
  </section>

  <div class="clear"></div>

  <section class="image-settings">
    <h3>Profile Image</h3>
    <%= image_tag current_user.image_url(:fit, :normal), :style => "max-width: 100px;", :class => 'profile-image', :alt => "" %>
    <% content_for :js do %>
      <%#= render "users/image_upload_js" %>
    <% end %>

    <div class="field">
      <div class="setting-text">Use Facebook Image</div>
      <% if current_user.fbuid %>
        <div class="btn-group">
          <div class="btn radio-btn <%= "btn-info" if current_user.use_fb_image %>" name="use_fb_image" data-value="true">On</div>
          <div class="btn radio-btn <%= "btn-info" unless current_user.use_fb_image %>" name="use_fb_image" data-value="false">Off</div>
        </div>
      <% else %>
        <div class='social-connect facebook'>
            <a href="/users/auth/facebook" class='facebook'>
              <img src="/assets/images/facebook-connect-button.gif" />
            </a>
        </div>
    <% end %>
    </div>

    <div class="upload btn" id="user_uploadB">Upload My Own Image</div>
    <div id="user_uploadB-progress"></div>
  </section>

  <div class="clear"></div>

  <section class="email-settings">
    <h3>Emails</h3>

    <%= render 'settings_form', :user => current_user %>
  </section>
</div>