<div id="splash_content">
  <%= image_tag "splash-logo.png", :alt => "Limelight", :class => "logo" %>
  <%= render "users/auth_box", :show => @show %>
</div>

<div class='topic-wall'>
  <% @topics.each do |topic| %>
    <div class='tile <%= topic.primary_type.to_url if topic.primary_type %>' data-group='<%= topic.primary_type.to_url if topic.primary_type %>'>
      <div class='s'>
        <div class='name'><%= topic.name %></div>
        <%= image_tag topic.raw_image(100, 100, 'fillcropmid'), :class => "", :alt => "#{topic.name}" %>
        <div class='stats'>
          <div class='f'><%= topic.followers_count.to_i %> followers</div>
          <div class='l'><%= topic.pt.to_i %> score</div>
        </div>
      </div>
    </div>
  <% end %>
</div>