<div class="teaser column <%= object._type.downcase %>" data-id="<%= object.id %>">
  <%= render 'core_objects/feed_teaser_title', :title => link_to(object.title, object), :object => object %>
  <div class="content">
    <%= video_embed(object, 210, 180) %>
    <%= markdown(parse_mentions(object.content, object)) %>
  </div>

  <div class="connectionsC">
    <div class="s">
      <div class="video-grey-icon oType" title="video"></div>
      <%= render 'core_objects/feed_teaser_created', :object => object %>
    </div>
    <div class="s">
      <a href="<%= url_for object %>" class="commentC p">
        <%= object.response_count.to_i %> comments
      </a>
    </div>

    <% if object.topic_mentions.length > 0 %>
      <div class="mentions s">
        <div class="head">mentions</div>
        <% object.topic_mentions.each do |topic| %>
          <%= render 'topics/tag', :topic => topic, :include_image => false %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= render 'core_objects/feed_teaser_actions', :object => object %>
  <div class="pc pc_<%= object.id.to_s %>"></div>
  <div class="pt_<%= object.id.to_s %> hide"><%= object.pt %></div>
</div>