<p id="notice"><%= notice %></p>

<p>
  <b>Url:</b>
  <%= @video.url %>
</p>

<p>
  <b>Title:</b>
  <%= @video.title %>
</p>

<%= video_embed(@video, 480, 390) %>

<%= render 'favorites/btn', :object => @video %>
<%= render 'reposts/btn', :object => @video %>

<%= render "core_objects/responses", :object => @video %>