<div id="<%= id %>" class="contributeC">
  <div class="options">
    <% if !defined?(allowed) || allowed.include?(:talk) %>
      <div class="option talk on" data-target="#new_talk">
        Talk
        <div class="icon arrow-g-r-2424"></div>
        <div class="icon arrow-r-2424"></div>
      </div>
    <% end %>
    <% if !defined?(allowed) || allowed.include?(:picture) %>
      <div class="option picture" data-target="#new_picture">
        Picture
        <div class="icon arrow-g-r-2424"></div>
        <div class="icon arrow-r-2424"></div>
      </div>
    <% end %>
    <% if !defined?(allowed) || allowed.include?(:video) %>
      <div class="option video" data-target="#new_video">
        Video
        <div class="icon arrow-g-r-2424"></div>
        <div class="icon arrow-r-2424"></div>
      </div>
    <% end %>
    <% if !defined?(allowed) || allowed.include?(:news) %>
      <div class="option news" data-target="#new_news">
        News
        <div class="icon arrow-g-r-2424"></div>
        <div class="icon arrow-r-2424"></div>
      </div>
    <% end %>
  </div>
  <div class="forms">
    <% if responding %>
      <div class="responding">
        Responding to <%= responding.class.to_s %>: <%= responding.name %>
      </div>
    <% end %>
    <% if !defined?(allowed) || allowed.include?(:talk) %>
      <div class="form">
        <%= render "talks/form", :talk => Talk.new, :responding => responding %>
      </div>
    <% end %>
    <% if !defined?(allowed) || allowed.include?(:picture) %>
      <div class="form hide">
        <%= render "pictures/form", :picture => Picture.new, :responding => responding %>
      </div>
    <% end %>
    <% if !defined?(allowed) || allowed.include?(:video) %>
      <div class="form hide">
        <%= render "videos/form", :video => Video.new, :responding => responding %>
      </div>
    <% end %>
    <% if !defined?(allowed) || allowed.include?(:news) %>
      <div class="form hide">
        <%= render "news/form", :news => News.new, :responding => responding %>
      </div>
    <% end %>
  </div>
</div>