<% if signed_in? %>
  <div id="<%= id %>" class="contributeC">

    <div class="responding"></div>

    <div class="options">
      <div class="option picture" data-target=".new_picture">
        <span id='picture_uploadB'>Upload Picture</span>
        <div class="icon picture-grey-icon"></div>
        <div class="cancel">cancel picture</div>
      </div>
      <div class="option link" data-target=".new_link">
        Add Link
        <div class="icon link-grey-icon"></div>
        <div class="cancel">cancel link</div>
      </div>
      <div class="clear"></div>
      <div class="url link hide lClear">
        <label for="link_fetch">Link URL</label>
        <input type="text" id="link_fetch" />
        <div class="fetch">fetch</div>
      </div>
    </div>

    <div class="forms">
      <%= render "talks/form", :talk => Talk.new %>

      <div class="hide">
        <%= render "pictures/contribute", :picture => Picture.new %>
        <%= render "videos/contribute", :video => Video.new %>
        <%= render "links/contribute", :link => Link.new %>
      </div>
    </div>

    <%= render 'help/contribute' %>
  </div>
<% end %>