<div id="feed-filters">
  <div class="feed-sort">
    <h5>SORT</h5>
    <ul>
      <li class="btn">
        <div data-d='newest' title="Sort by the newest posts" class="feed-newest opt <%= session[:feed_filters][:sort] == 'newest' ? 'on' : '' %>">Newest</div>
      </li>
      <li class="btn">
        <div data-d='popular' title="Sort by the most popular posts" class="feed-popular opt <%= session[:feed_filters][:sort] != 'newest' ? 'on' : '' %>">Popular</div>
      </li>
    </ul>
  </div>

  <div class="feed-display">
    <h5>SHOW</h5>
    <ul>
      <li>
        <div data-d='Talk' class="opt btn talk first <%= session[:feed_filters][:display].include?('Talk') ? 'on' : '' %>">Talk</div>
      </li>
      <li>
        <div data-d='Link' class="opt btn link <%= session[:feed_filters][:display].include?('Link') ? 'on' : '' %>">Links</div>
      </li>
      <li>
        <div data-d='Picture' class="opt btn picture <%= session[:feed_filters][:display].include?('Picture') ? 'on' : '' %>">Pictures</div>
      </li>
      <li>
        <div data-d='Video' class="opt btn video last <%= session[:feed_filters][:display].include?('Video') ? 'on' : '' %>">Videos</div>
      </li>
    </ul>
  </div>
  <div class="scrollTop hide">Scroll Top</div>

  <div class="feed-layout">
    <h5>VIEW</h5>
    <ul>
      <li class="btn">
        <div class="opt" title="Organize the feed into columns of posts">
          <div data-d='column' class="feed-column <%= session[:feed_filters][:layout] == 'column' ? 'on' : '' %>"></div>
        </div>
      </li>
      <li class="btn">
        <div class="opt" title="Organize the feed into a list of posts">
          <div data-d='list' class="feed-list <%= session[:feed_filters][:layout] == 'list' ? 'on' : '' %>"></div>
        </div>
      </li>
    </ul>
  </div>
</div>