<div id="core-feed" class="<%= session[:feed_filters][:layout] %>">
  <% core_objects.each_with_index do |core_object, i| %>
    <% if i < 20 %>
      <div class='teaser <%= "#{session[:feed_filters][:layout]} #{core_object[:root].class.name.downcase}" %>'>
        <%= render_cell :core_object, :teaser_root, current_user, core_object[:root] %>
        <%= render_cell :core_object, "teaser_personal_#{session[:feed_filters][:layout]}", current_user, core_object[:responses] %>
      </div>
    <% end %>
  <% end %>
  <div class="clear"></div>
  <div class="overlay">
    <div>reloading feed...</div>
  </div>
</div>

<% if core_objects.count(true) >= 20 %>
  <div id="load-more" class="ac" data-m="get" data-url="<%= more_path %>">load more</div>
<% end %>

<%= render 'help/feed' %>