<div id="feed-filters" data-url="<%= feed_update_url %>">
  <div class="feed-sort">
    <div class="arrow-small"></div>
    <h5>SORT BY</h5>
    <ul class="btn">
      <li class="<%= 'hide' unless session[:feed_filters][:sort][:target] == 'created_at' %>">
        <div data-d='{"target":"created_at", "order":"desc"}' class="opt <%= session[:feed_filters][:sort][:target] == 'created_at' ? 'on' : 'hide' %>">Newest</div>
      </li>
      <li class="<%= 'hide' unless session[:feed_filters][:sort][:target] == 'popularity' %>">
        <div data-d='{"target":"popularity", "order":"desc"}' class="opt <%= session[:feed_filters][:sort][:target] == 'popularity' ? 'on' : 'hide' %>">Popularity</div>
      </li>
    </ul>
  </div>

  <div class="feed-display">
    <h5>SHOW</h5>
    <ul>
      <li>
        <div data-d='Talk' class="opt btn talk first <%= session[:feed_filters][:display].include?('Talk') ? 'on' : '' %>">Talk</div>
      </li>
      <li>
        <div data-d='News' class="opt btn news <%= session[:feed_filters][:display].include?('News') ? 'on' : '' %>">News</div>
      </li>
      <li>
        <div data-d='Picture' class="opt btn picture <%= session[:feed_filters][:display].include?('Picture') ? 'on' : '' %>">Pictures</div>
      </li>
      <li>
        <div data-d='Video' class="opt btn video last <%= session[:feed_filters][:display].include?('Video') ? 'on' : '' %>">Videos</div>
      </li>
    </ul>
  </div>
  <div class="scrollTop">Scroll Top</div>

  <div class="feed-layout">
    <h5>VIEW</h5>
    <ul>
      <li class="btn">
        <div data-d='list' class="opt <%= session[:feed_filters][:layout] == 'list' ? 'on' : '' %>" title="Organize the feed into a list of items">
          <div class="feed-list"></div>
        </div>
      </li>
      <li class="btn">
        <div data-d='grid' class="opt <%= session[:feed_filters][:layout] == 'list' ? 'on' : '' %>" title="Organize the feed into a grid of items">
          <div class="feed-grid"></div>
        </div>
      </li>
    </ul>
  </div>
</div>