<div id="feed-filters">
  <%= render :partial => "core_objects/feed_sort_main" %>

  <div class="feed-display">
    <h5>SHOW</h5>
    <ul>
      <li>
        <div data-d='Talk' class="opt btn talk first <%= session[:feed_filters][:display].include?('Talk') ? 'on' : '' %>">Talk</div>
      </li>
      <li>
        <div data-d='News' class="opt btn news <%= session[:feed_filters][:display].include?('News') ? 'on' : '' %>">News</div>
      </li>
      <li>
        <div data-d='Picture' class="opt btn picture <%= session[:feed_filters][:display].include?('Picture') ? 'on' : '' %>">Pictures</div>
      </li>
      <li>
        <div data-d='Video' class="opt btn video last <%= session[:feed_filters][:display].include?('Video') ? 'on' : '' %>">Videos</div>
      </li>
    </ul>
  </div>
  <div class="scrollTop">Scroll Top</div>

  <div class="feed-layout">
    <h5>VIEW</h5>
    <ul>
      <li class="btn">
        <div class="opt" title="Organize the feed into a list of posts">
          <div data-d='list' class="feed-list <%= session[:feed_filters][:layout] == 'list' ? 'on' : '' %>"></div>
        </div>
      </li>
      <li class="btn">
        <div class="opt" title="Organize the feed into a grid of posts">
          <div data-d='grid' class="feed-grid <%= session[:feed_filters][:layout] == 'grid' ? 'on' : '' %>"></div>
        </div>
      </li>
      <li class="btn">
        <div class="opt" title="Organize the feed into columns of posts">
          <div data-d='column' class="feed-column <%= session[:feed_filters][:layout] == 'column' ? 'on' : '' %>"></div>
        </div>
      </li>
    </ul>
  </div>
</div>