<%= form_for(@core_object) do |f| %>
  <% if @core_object.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@core_object.errors.count, "error") %> prohibited this core_object from being saved:</h2>

      <ul>
      <% @core_object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
