<div class="teaser oS grid <%= object._type.downcase %>" data-id="<%= object.id %>">
  <div class="pt_<%= object.id.to_s %> hide"><%= object.pt %></div>
  <div class="wrapper">
    <%= yield %>
  </div>
</div>