<div class="controlsC">
  <div class="pop p_<%= object.id.to_s %>"><%= object.pop_total.to_i %></div>
  <%= render 'votes/btn', :object => object %>
  <%= render 'favorites/btn', :object => object %>
  <%= render 'reposts/btn', :object => object %>
  <%= render 'core_object_shares/share_btn', :object => object %>
</div>