<div class="content <%= 'with-picture' if defined? picture %>">
  <h2 class="titleC">
    <%= title if title %>
  </h2>

  <div class="createdC">
    <div class="time"><%= created_by if created_by %></div>
  </div>

  <div class="pop_change"></div>

  <%= picture if defined? picture %>

  <%= video if defined? video %>

  <%= content if content %>
</div>