<div class="content <%= 'with-picture' if defined? picture %>">
  <h2 class="titleC">
    <%= title if title %>
  </h2>

  <div class="createdC"><%= created_by if created_by %></div>

  <div class="pc pc_<%= object.id.to_s %>"></div>

  <%= picture if defined? picture %>

  <%= video if defined? video %>

  <%= content if content %>
</div>