<div id="response-divider">
  <h3>Talking About This <%= object.class.name %> (<%= object.response_count %>)</h3>
  <span class='talk-response<%= ' auth' unless signed_in? %>' data-id='<%= object.id %>' data-name='<%= object.title_clean %>' data-type='<%= object.class.name %>'>+Talk</span>
  <div class="clear"></div>
</div>