<h1>Listing core_objects</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @core_objects.each do |core_object| %>
  <tr>
    <td><%= core_object.title %></td>
    <td><%= core_object.body %></td>
    <td><%= link_to 'Show', core_object %></td>
    <td><%= link_to 'Edit', edit_core_object_path(core_object) %></td>
    <td><%= link_to 'Destroy', core_object, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Core object', new_core_object_path %>
