<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @core_object.title %>
</p>

<p>
  <b>Body:</b>
  <%= @core_object.body %>
</p>


<%= link_to 'Edit', edit_core_object_path(@core_object) %> |
<%= link_to 'Back', core_objects_path %>
