<%= form_for @news, :html => { :multipart => true, :class => 'core_object noajax' } do |f| %>
  <div class="help">
    <span>red</span> = required field
  </div>

  <%= render 'shared/error_messages', :object => f.object %>

  <div class="group">
    <div class="field lClear required bottom" data-tip="News Story URL">
      <%= f.label :url, "The URL where the news story can be found..." %>
      <%= f.url_field :url %>
    </div>
    <div class="field lClear required bottom" data-tip="News Story Publisher">
      <%= label_tag :publisher, "The organization/website that published the story..." %>
      <%= text_field_tag :publisher %>
    </div>
    <div class="field lClear required bottom important" data-tip="News Story Title">
      <%= f.label :title, "The story title..." %>
      <%= f.text_field :title %>
    </div>
    <div class="field lClear bottom" data-tip="News Story Summary">
      <%= f.label :content, "A short summary of the story..." %>
      <%= f.text_area :content %>
      <%= render 'shared/topic_tagger' %>
    </div>
    <div class="field image" data-tip="New Story Image">
      <div class="choices">
        <%= render 'shared/asset_image_field', :f => f %>
        <div class="fetch">Use Image From URL</div>
      </div>
      <div class="image-preview">
        <div class="default">no image chosen</div>
        <div class="upload"></div>
        <div class="fetch">
          <div class="left"><<</div>
          <div class="right">>></div>
          <div class="default">no images found at the given url</div>
          <div class="images"></div>
        </div>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "Post News Story" %>
    </div>
  </div>

  <div class="preview">
    <h4>Preview</h4>
    <div class="content"></div>
  </div>

<% end %>
