<%= form_for news, :html => { :multipart => true, :class => 'core_object ajax' } do |f| %>
  <%= render "shared/mention_help" %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="errors"></div>

  <div class="group">
    <div class="field lClear required bottom" data-tip="News Story URL">
      <%= f.label :url, "The URL where the news story can be found..." %>
      <%= f.url_field :url %>
    </div>
    <div class="field lClear required bottom" data-tip="News Story Publisher">
      <%= label_tag :publisher, "The organization/website that published the story..." %>
      <%= text_field_tag :publisher %>
    </div>
    <div class="field lClear required bottom important" data-tip="News Story Title">
      <%= f.label :title, "The story title..." %>
      <%= f.text_field :title %>
    </div>
    <div class="field lClear" data-tip="News Story Summary">
      <%= f.label :content, "A short summary of the story..." %>
      <%= render "shared/mention_box", :f => f %>
      <%= render "shared/mention_ooc", :f => f %>
    </div>
    <div class="field image" data-tip="New Story Image">
      <%= render 'shared/core_object_image', :f => f, :upload_container_id => 'news_uploadC', :upload_button_id => 'news_uploadB' %>
    </div>
    <div class="actions">
      <%= f.submit "Post News Story" %>
    </div>
  </div>

  <div class="preview">
    <h4>Preview</h4>
    <div class="content"></div>
  </div>

<% end %>

<% content_for :js do %>
  <%= render "news/upload_js" %>
<% end %>