<div class="teaser grid <%= object._type.downcase %>" data-id="<%= object.id %>">
  <div class="wrapper">

    <div class="content">
      <%= render 'core_objects/feed_teaser_title', :title => link_to(object.title, object), :object => object %>
      <%= render 'core_objects/feed_teaser_created', :object => object %>
      <% source = "<a href='#{object.sources[0].url}' target='_blank' rel='nofollow'>#{object.sources[0].name}</a> - " %>
      <%= markdown(source + parse_mentions(object.content, object)) %>
      <div class="clear"></div>
    </div>

    <div class="connectionsC">
      <div class="s">
        <div class="oType"><div class="news-grey-icon" title="news"></div></div>

        <a href="<%= url_for object %>" class="commentC p">
          <div class="comment-icon"></div>
          <%= object.response_count.to_i %>
        </a>
      </div>

      <% if object.topic_mentions.length > 0 %>
        <div class="mentions s">
          <div class="head">mentions</div>
          <% object.topic_mentions.each do |topic| %>
            <%= render 'topics/tag', :topic => topic, :include_image => false %>
          <% end %>
        </div>
      <% end %>
    </div>

    <%= render 'core_objects/feed_teaser_actions', :object => object %>
    <div class="pc pc_<%= object.id.to_s %>"></div>
  </div>
  <div class="pt_<%= object.id.to_s %> hide"><%= object.pt %></div>
</div>