<% title = capture do %>
  <%= link_to object.title, object %>
  <% if object.response_to %>
    <span>@</span>
    <a href="<%= core_object_response_url(object.response_to) %>" class="r">
      <%= object.response_to.title %>
      <div class="<%= object.response_to.type.parameterize %>-grey-icon icon"></div>
    </a>
  <% end %>
<% end %>

<% picture = capture do %>
  <% if session[:feed_filters][:layout] == 'grid' %>
    <% nil %>
  <% else %>
    <% img = default_image_url(object, [75, 75]) %>
    <%= image_tag img, :style => 'max-width: 75px;' if img %>
  <% end %>
<% end %>

<% content = capture do %>
  <%= markdown(parse_mentions(object.content, object)) %>
<% end %>

<% created_by = capture do %>
  <%= time_ago_in_words(object.created_at, false) %> ago by
  <%= user_link object.user_snippet %>
<% end %>

<%= render 'core_objects/list_teaser_content', :object => object, :title => title, :content => content, :created_by => created_by, :picture => picture %>

<%= render 'core_objects/list_teaser_mentions', :object => object %>

<%= render 'core_objects/list_teaser_action_box', :object => object %>