<div class="teaser list <%= object._type.downcase %>" data-id="<%= object.id %>">

  <div class="content with-picture">
    <%= render 'core_objects/feed_teaser_title', :title => link_to(object.title, object), :object => object %>
    <%= render 'core_objects/feed_teaser_created', :object => object %>

    <% img = default_image_url(object, 75, 75, :fillcropmid) %>
    <% original = default_image_url(object, 0, 0, :original) %>
    <% image = image_tag img, :style => 'max-width: 75px; max-height: 75px;', 'data-o' => '{"url":"'+original.image_url+'","w":"'+original.width.to_s+'","h":"'+original.height.to_s+'"}' if img %>
    <%= render 'core_objects/feed_teaser_image', :image => image if img %>
    <% source = object.sources.length > 0 ? "<a href='#{object.sources[0].url}' target='_blank' rel='nofollow' class='s'>#{object.sources[0].name}</a> - " : '' %>
    <%= markdown(source + parse_mentions(object.content, object)) %>
  </div>

  <div class="connectionsC">
    <div class="oType"><div class="news-grey-icon" title="news"></div></div>

    <a href="<%= url_for object %>" class="commentC p">
      <div class="comment-icon"></div>
      <%= object.response_count.to_i %>
    </a>

    <% if object.topic_mentions %>
      <div class="mentions">
        <% object.topic_mentions.each do |topic| %>
          <%= render 'topics/tag', :topic => topic, :include_image => false %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= render 'core_objects/feed_teaser_actions', :object => object %>
  <div class="pc pc_<%= object.id.to_s %>"></div>
  <div class="pt_<%= object.id.to_s %> hide"><%= object.pt %></div>
</div>