<h1>New news</h1>

<%= form_for(@news) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit "Post News" %>
  </div>
<% end %>

<%= link_to 'Back', news_index_path %>
