<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @news.title %>
</p>

<p>
  <b>Content:</b>
  <%= parse_mentions(markdown(@news.content), @news) %>
</p>

<p>
  <b>User:</b>
  <%= @news.user_id %>
</p>

<%= render 'favorites/favorite_btn', :object => @news %>

<%= link_to 'Edit', edit_news_path(@news) %> |