<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @news.title %>
</p>

<p>
  <b>Content:</b>
  <%= markdown(parse_mentions(@news.content, @news)) %>
</p>

<% img = default_image_url(@news, [100, 100]) %>
<%= image_tag img, :style => 'max-width: 100px;' if img %>

<%= render 'favorites/btn', :object => @news %>
<%= render 'reposts/btn', :object => @news %>

<%= render "core_objects/responses", :object => @news %>