<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @news.title %>
</p>

<p>
  <b>Content:</b>
  <%= parse_mentions(markdown(@news.content), @news) %>
</p>

<%= image_tag default_image_url(@news, [100, 100]), :width => "100px" %>

<%= render 'favorites/btn', :object => @news %>
<%= render 'reposts/btn', :object => @news %>

<%= link_to 'Edit', edit_news_path(@news) %>