<div class="comment-thread c_<%= @talk_id %> <%= 'hide' if @comments.length == 0 %>" data-d='{"talk_id":"<%= @talk_id %>"}'>
  <div class="comments">
    <% @comments[:show].each do |comment| %>
      <%= render "comments/comment", :comment => comment, :current_user => @user %>
    <% end %>
    
    <% unless @comments[:hide].blank? %>
      <div class='more-comments'>
        <% @comments[:hide].each do |comment| %>
          <%= render "comments/comment", :comment => comment, :current_user => @user %>
        <% end %>
      </div>
      <div class='load-more-comments'>show <%= @comments[:hide].length %> more comments</div>
    <% end %>
  </div>
</div>