<div class="user-panel">
  <%= image_tag user_default_picture_path(@user, :w => 30, :h => 30, :m => :fillcropmid), :style => "max-width: 85px;", :class => 'profile-image' %>
  <h3><%= @user.username %></h3>

  <div class="stats">
    <div class="label followers">Followers</div>
    <div class="label following">Following</div>
    <div class="label users">Users</div>
    <div class="label topics">Topics</div>
    <a class="btn users1" href="<%= user_followers_path @user %>"><%= @user.followers_count.to_i %></a>
    <a class="btn users2" href="<%= user_following_users_path @user %>"><%= @user.following_users_count.to_i %></a>
    <a class="btn topics2" href="<%= user_following_topics_path @user %>"><%= @user.following_topics_count.to_i %></a>

    <div class="pop p_<%= @user.id %>" title="Your Popularity"><%= @user.pt.to_i %></div>
  </div>

  <div class="clear"></div>

  <a id="my-feed" class="sidebarB btn" href="<%= user_feed_path @user %>">
    <div class="icon feed-icon"></div>
    My Feed
  </a>

  <a id="my-contributions" class="sidebarB btn" href="<%= user_path @user %>">
    <div class="icon user-contributions-icon"></div>
    Contributions
  </a>

  <div class="links">
    <a class="settings btn" href="<%= user_settings_path %>">
      <div class="icon settings-icon"></div>
      Settings
    </a>
    <a class="user-notifications btn <%= 'on' if @user.unread_notification_count > 0 %>" href="<%= notifications_path @user %>">
      <div class="icon"><%= @user.unread_notification_count.to_i %></div>
      Notification<%= 's' unless @user.unread_notification_count == 1 %>
    </a>
    <a class="badge btn future" href="#">
      <div class="icon badge-icon"></div>
      Badges
    </a>
    <a id="my-favorites" class="user-favorites btn" href="<%= user_favorites_path @user %>">
      <div class="icon user-favorites-icon"></div>
      My Favorites
    </a>
  </div>

</div>