<div class="user-panel">
    <h2><%= @user.username %></h2>
    <div class="score" title="Your Score">0</div>
    <div class="clear"></div>

    <%= render 'follows/btn', :current_user => @current_user, :target => user %>
    
    <!-- profile image 65x80 -->

    <div class="right">
        <div class="stat followers">
            <div class="label">Followers</div>
            <a class="btn" href="<%= user_followers_path @user %>"><span><%= user.followers_count %></span></a>
        </div>
        <div class="stat following">
            <div class="label">Following</div>
            <a class="btn" href="<%= user_following_users_path @user %>"><span><%= user.following_users_count %></span> Users</a>
            <a class="btn topics" href="<%= user_following_topics_path @user %>"><span><%= user.following_topics_count %></span> Topics</a>
        </div>
    </div>

    <div class="clear"></div>

    <div class="links">
        <a class="badge btn" href="#">
            <div class="icon badge-icon"></div>
            Badges
        </a>
        <a class="user-contributions btn" href="<%= user_path @user %>">
            <div class="icon user-contributions-icon"></div>
            Contributions
        </a>
    </div>

</div>