<div id="sidebar" data-push="<%= @user.id.to_s if signed_in? %>">
  <div class="full <%= 'hide' unless session[:sidebar] == :full %>">
    <div class="panel-close-left-icon ac" data-url="<%= sidebar_path(:state => :mini) %>" data-m="put" title="Minimize Sidebar"></div>

    <% if signed_in? %>

      <%= render('user/panel_left', :user => @user) %>

      <div class="sidebar-list future">
        <h5>My Lists</h5>
        <a class="list-view" href="#">View All</a>

        <div class="clear"></div>

        <a class="list-createB" href="{{ path('list_new') }}">Add A List!</a>
      </div>

    <% else %>
      <div class="empty">Log in to receive your very own sidebar!*</div>
      <div class="sidenote">*batteries not included</div>
    <% end %>
    <div id="static-links">
      <%= link_to "About", :about_path %> <span class='dot'>.</span>
      <%= link_to "Contact", :contact_path %> <span class='dot'>.</span>
      <%= link_to "Privacy", :privacy_path %> <span class='dot'>.</span>
      <%= link_to "Terms", :terms_path %><br/>
      <%= link_to "Help", :help_path %> <span class='dot'>.</span>
      <span class="tutorial-start <%= signed_in? ? 'ac' : 'auth' %>" data-url="<%= tutorial_on_path %>" data-m='put'>Tutorials</span>
    </div>
  </div>

  <% if signed_in? %>
    <div class="minimized <%= 'hide' unless session[:sidebar] == :mini %>">
      <div class="panel-open-left-icon ac" data-url="<%= sidebar_path(:state => :full) %>" data-m="put" title="Maximize Sidebar"></div>

      <%= image_tag user_default_picture_path(@user, :w => 30, :h => 30, :m => 'fillcropmid'), :style => "max-width: 85px;", :class => 'profile-image', :alt => "" %>

      <div class="pop p_<%= @user.id %>" title="Your Popularity"><%= @user.pt.to_i %></div>

      <a class="notifications btn" title="Notifications" href="<%= notifications_path @user %>">
        <div class="icon">0</div>
      </a>
      <a class="btn" title="Settings" href="<%= user_settings_path @user %>">
        <div class="icon settings-icon"></div>
      </a>
      <a class="btn future" title="Badges" href="#">
        <div class="icon badge-icon"></div>
      </a>
      <a class="btn" title="Contributions" href="<%= user_path @user %>">
        <div class="icon user-contributions-icon"></div>
      </a>
      <a id="my-feed" title="My Feed" class="p btn" href="<%= user_feed_path @user %>">
        <div class="icon feed-icon"></div>
      </a>
      <a id="my-favorites" title="My Favorites" class="p btn" href="<%= user_favorites_path @user %>">
        <div class="icon user-favorites-icon"></div>
      </a>
    </div>
  <% end %>
  <div class="pt_<%= @user.id.to_s if signed_in? %> hide"><%= @user.pt if signed_in? %></div>

  <%= render 'help/user_panel' %>

</div>