<div class="sbrC user-subscribe" data-push="<%= @user.id.to_s %>">
  <%= render 'user/panel_right', :user => @user %>

  <div class="sidebar-list future">
    <h5><%= @user.username %>'s Lists</h5>
    <a class="list-view" href="#">View All</a>

    <div class="clear"></div>
  </div>
  <div class="pt_<%= @user.id.to_s %> hide"><%= @user.pt %></div>
</div>