<h2>
  You can also follow users!
  Limelight organizes itself around the topics and users you're following.
  Discuss the things that matter with the people that matter.
</h2>

<div class="social-connect">
  <div class='facebook'>
    <% if @current_user.get_social_connect('facebook') %>
      <div class='completed'>
        <div class='square'></div>
        <h4>Facebook Connected</h4>
      </div>
    <% else %>
      <a href="<%= user_omniauth_authorize_path(:facebook) %>">
        <%= image_tag('facebook-connect-button.gif') %>
      </a>
    <% end %>
  </div>
  <div class='twitter'>
    <% if @current_user.get_social_connect('twitter') %>
      <div class='completed'>
        <div class='square'></div>
        <h4>Twitter Connected</h4>
      </div>
    <% else %>
      <a href="<%= user_omniauth_authorize_path(:twitter) %>">
        <%= image_tag('twitter-connect-button.gif') %>
      </a>
    <% end %>
  </div>
</div>

<div class='user-cards' data-url='<%= topic_finder_path :theme => 'card_small' %>'>
  <% @registeredFriends.each do |friend| %>
    <%= render "users/card", :user => friend, :current_user => @current_user %>
  <% end %>
  <% if @registeredFriends.length == 0 %>
    <div class='none'>
      <% if @current_user.get_social_connect('facebook') && @current_user.get_social_connect('twitter') %>
        Hmm it looks like your Facebook and Twitter friends aren't on Limelight yet.
        Share your invite code, <%= @current_user.invite_code %>, with them and they can join!
      <% elsif @current_user.get_social_connect('facebook') %>
        Hmm it looks like your Facebook friends aren't on Limelight yet.
        Share your invite code, <%= @current_user.invite_code %>, with them and they can join!
      <% elsif @current_user.get_social_connect('twitter') %>
        Hmm it looks like your Twitter friends aren't on Limelight yet.
        Share your invite code, <%= @current_user.invite_code %>, with them and they can join!
      <% else %>
        Please connect your Facebook and/or Twitter account to connect with friends on Limelight.
      <% end %> 
    </div>
  <% end %>
</div>

<div class='next ac' data-url='<%= user_tutorial_path :step => 6 %>' data-m='get'>Next</div>