<h2>
  Connecting your existing social accounts to Limelight is important.
  Limelight will help you import your existing friendships and follows.
  You can also post to Facebook and/or Twitter when you post to Limelight.
</h2>

<div class="social-connect">
  <div class='facebook'>
    <% if @current_user.get_social_connect('facebook') %>
      <div class='completed'>
        <div class='square'></div>
        <h4>Facebook Connected</h4>
      </div>
    <% else %>
      <a href="<%= user_omniauth_authorize_path(:facebook) %>">
        <%= image_tag('facebook-connect-button.gif') %>
      </a>
    <% end %>
  </div>
  <div class='twitter'>
    <% if @current_user.get_social_connect('twitter') %>
      <div class='completed'>
        <div class='square'></div>
        <h4>Twitter Connected</h4>
      </div>
    <% else %>
      <a href="<%= user_omniauth_authorize_path(:twitter) %>">
        <%= image_tag('twitter-connect-button.gif') %>
      </a>
    <% end %>
  </div>
</div>

<div class='next ac' data-url='<%= user_tutorial_path :step => 3 %>' data-m='get'>Next</div>