<div id="splash_content">
  <%= image_tag "splash-logo.png", :alt => "Limelight", :class => "logo" %>
  <%= render "users/auth_box", :show => @show %>
</div>

<div class='topic-wall'>
  <% @topics.each do |topic| %>
    <% group = rand(20) %>
    <a href="<%= topic_path(topic) %>">
      <div class='tile <%= "tile-#{group}" %>'>
        <div class='bg'>
          <%= image_tag topic.raw_image(75, 75, 'fillcropmid'), :class => "o", :alt => "#{topic.name}" %>
          <%= image_tag topic.raw_image(100, 0, 'fit'), :class => "l", :alt => "" %>
        </div>
      </div>
    </a>
  <% end %>
</div>