<%= form_for link, :html => { :multipart => true, :class => 'core_object ajax new_link' } do |f| %>
  <%= render "shared/mention_help" %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="errors"></div>
  <% if responding %>
    <%= f.hidden_field :response_to_id, :value => responding.id.to_s %>
  <% end %>

  <div class="group">
    <div class="field lClear required bottom" data-tip="Link URL">
      <%= f.label :source_url, "The link URL..." %>
      <%= f.url_field :source_url %>
    </div>
    <%= f.hidden_field :source_name %>
    <div class="field lClear required bottom important" data-tip="Link Title">
      <%= f.label :title, "The link title..." %>
      <%= f.text_field :title %>
    </div>
    <div class="field lClear" data-tip="Link Summary">
      <%= f.label :content, "Say something about the link..." %>
      <%= render "shared/mention_box", :f => f %>
      <%= render "shared/mention_ooc", :f => f %>
    </div>
    <div class="field image" data-tip="Link Image">
      <%= render 'shared/core_object_image', :f => f, :upload_container_id => 'link_uploadC', :upload_button_id => 'link_uploadB' %>
    </div>
    <div class="actions">
      <%= f.submit "Post Link" %>
    </div>
  </div>

  <div class="preview">
    <h4>Preview</h4>
    <div class="content"></div>
  </div>

<% end %>

<% content_for :js do %>
  <%= render "links/upload_js" %>
<% end %>