<% cache("teaser-#{object.id.to_s}-list-top") do %>

<div class="teaser list <%= object._type.downcase %>" data-id="<%= object.id %>">
  <div class="left">
    <% img = default_image_url(object, 120, 120, 'fit', false, true) %>
    <% original = default_image_url(object, 0, 0, :original) if img %>
    <% image = image_tag img.image_url, :width => img.calculate_d(120)[0].to_s, :height => img.calculate_d(120)[1].to_s, 'data-o' => '{"url":"'+original.image_url+'","w":"'+original.width.to_s+'","h":"'+original.height.to_s+'"}' if img %>
    <%= render 'core_objects/feed_teaser_image', :image => image if img %>
  </div>

  <div class="wrapper">
    <div class="content">
      <%= render 'core_objects/feed_teaser_title', :title => link_to(object.title_clean, object), :object => object %>
<% end %>
    
      <%= render 'core_objects/feed_teaser_created', :object => object %>
      <% if can? :destroy, object %>
        <div class="ac disable conf hide" title="remove this post" data-m="PUT" data-url="<%= disable_link_path object %>">X</div>
      <% end %>

      <%= render 'core_objects/feed_teaser_actions', :object => object %>
      <div class="pc pc_<%= object.id.to_s %>"></div>
      <div class="pt_<%= object.id.to_s %> hide"><%= object.pt %></div>

<% cache("teaser-#{object.id.to_s}-list-bottom") do %>
  
      <% source = object.sources.length > 0 ? "<a href='#{object.sources[0].url}' target='_blank' rel='nofollow' class='s'>#{object.sources[0].name}</a> - " : '' %>
      <%= markdown(source + parse_mentions(object.content, object)) %>
    </div>
    <div class="connectionsC">
      <div class="oType"><div class="link-grey-icon" title="link"></div></div>
  
      <a href="<%= url_for object %>" class="commentC p">
        <div class="comment-icon"></div>
        <%= object.response_count.to_i %>
      </a>
  
      <% if object.topic_mentions %>
        <div class="mentions">
          <% object.topic_mentions.each do |topic| %>
            <%= render 'topics/tag', :topic => topic, :include_image => false %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

<% end #cache %>

  <div class="clear"></div>  
</div>