<% cache("teaser-#{object.id.to_s}-column") do %>

<div class="teaser column <%= object._type.downcase %>" data-push="<%= object.id %>">
  <%= render 'core_objects/feed_teaser_title', :title => link_to(object.title_clean, object), :object => object %>
  <div class="content">
    <% img = default_image_url(object, 210, 0, 'fit', false, true) %>
    <% original = default_image_url(object, 0, 0, :original) if img %>
    <% image = image_tag img.image_url, :width => 210, :height => img.calculate_h(210).to_s, 'data-o' => '{"url":"'+original.image_url+'","w":"'+original.width.to_s+'","h":"'+original.height.to_s+'"}' if img %>
    <%= render 'core_objects/feed_teaser_image', :image => image if img %>
    <p><%= parse_mentions(object.content, object) %></p>

    <div class="clear"></div>
  </div>

  <div class="connectionsC">
    <% if object.sources.length > 0 %>
      <div class="sourceC s">
        <%= "via <a href='#{object.sources[0].url}' target='_blank' rel='nofollow'>#{object.sources[0].name}</a>".html_safe %>
      </div>
    <% end %>

    <div class="s">
      <a href="<%= url_for object %>" class="commentC p">
        <%= object.response_count.to_i %> comments
      </a>
    </div>

    <% if object.topic_mentions.length > 0 %>
      <div class="mentions s">
        <div class="head">mentions</div>
        <% object.topic_mentions.each do |topic| %>
          <%= render 'topics/tag', :topic => topic, :include_image => false %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end # cache %>

  <div class="createdC">
    <%= user_link object.user_snippet %>
    <%= time_ago_in_words(object.created_at, false) %> ago
    <div class='arrow-w-s'></div>
  </div>

  <% if can? :destroy, object %>
    <%= render :partial => 'core_objects/disable_btn', :locals => { :path => disable_link_path(object) } %>
  <% end %>

  <%= render 'core_objects/feed_teaser_actions', :object => object %>
  <div class="pc pc_<%= object.id.to_s %>"></div>
  <div class="pt_<%= object.id.to_s %> hide"><%= object.pt %></div>
</div>