<% cache("teaser-#{object.id.to_s}-grid-top") do %>

<div class="teaser grid <%= object._type.downcase %>" data-push="<%= object.id %>">
  <div class="wrapper">

    <div class="content">
      <%= render 'core_objects/feed_teaser_title', :title => link_to(object.title_clean, object), :object => object %>

<% end # cache %>

      <%= render 'core_objects/feed_teaser_created', :object => object %>

<% cache("teaser-#{object.id.to_s}-grid-bottom") do %>

      <p><%= parse_mentions(object.content, object) %></p>
      <div class="clear"></div>
    </div>

    <div class="connectionsC">
      <% if object.sources.length > 0 %>
        <div class="sourceC s">
          <%= "via <a href='#{object.sources[0].url}' target='_blank' rel='nofollow'>#{object.sources[0].name}</a>".html_safe %>
        </div>
      <% end %>

      <div class="s">
        <div class="oType"><div class="link-grey-icon" title="link"></div></div>

        <a href="<%= url_for object %>" class="commentC p">
          <div class="comment-icon"></div>
          <%= object.response_count.to_i %>
        </a>
      </div>

      <% if object.topic_mentions.length > 0 %>
        <div class="mentions s">
          <div class="head">mentions</div>
          <% object.topic_mentions.each do |topic| %>
            <%= render 'topics/tag', :topic => topic, :include_image => false %>
          <% end %>
        </div>
      <% end %>
    </div>

<% end # cache %>

    <% if can? :destroy, object %>
      <%= render :partial => 'core_objects/disable_btn', :locals => { :path => disable_link_path(object) } %>
    <% end %>

    <%= render 'core_objects/feed_teaser_actions', :object => object %>
    <div class="pc pc_<%= object.id.to_s %>"></div>
    <div class="pt_<%= object.id.to_s %> hide"><%= object.pt %></div>
  </div>
</div>