<% content_for :sidebar_right do %>
  <%= render_cell(:core_object, :sidebar_right, current_user, @link) %>
<% end %>

<div class="object-show">
  <h1><%= @link.title_clean %></h1>

  <% img = default_image_url(@link, 110, 80, 'fit', false, true) %>
  <% original = default_image_url(@link, 0, 0, :original) if img %>
  <% if img %>
    <div class="img expand">
      <div class='icon'><div class="full-black-icon"></div></div>
      <%= image_tag img.image_url, :style => 'max-width: 110px; max-height: 80px;', 'data-o' => '{"url":"'+original.image_url+'","w":"'+original.width.to_s+'","h":"'+original.height.to_s+'"}' if img %>
    </div>
  <% end %>
  
  <div class="content <%= 'with-image' if img %>">
    <div class="createdC">
      <%= time_ago_in_words(@link.created_at, false) %> ago by
      <%= user_link @link.user_snippet %>
    </div>

    <%= markdown(parse_mentions(@link.content, @link)) %>
  </div>
  
  <div class="clear"></div>
</div>

<%= render "core_objects/response_header", :object => @link %>
<%= render "core_objects/responses", :responses => @responses %>