<% if @link.status == "active" %>
  <% content_for :sidebar_right do %>
    <%= render_cell(:core_object, :sidebar, current_user, @link) %>
  <% end %>

  <% content_for :page_header do %>
    <h1 class="core-object">
      <a href="<%= @link.sources[0].url if @link.sources.length > 0 %>" target="_blank"><%= @link.title_clean %></a>
    </h1>

    <div class="createdC">
      <%= time_ago_in_words(@link.created_at, false) %> ago by
      <%= user_link @link.user_snippet %>
    </div>
    <div class="clear"></div>
  <% end %>

  <div class="object-show">
    <% img = default_image_url(@link, 110, 80, 'fit', false, true) %>
    <% original = default_image_url(@link, 0, 0, :original) if img %>
    <% if img %>
      <div class="img expand">
        <div class='icon'><div class="full-black-icon"></div></div>
        <%= image_tag img.image_url, :style => 'max-width: 110px; max-height: 80px;', 'data-o' => '{"url":"'+original.image_url+'","w":"'+original.width.to_s+'","h":"'+original.height.to_s+'"}' if img %>
      </div>
    <% end %>

    <div class="content <%= 'with-image' if img %>">
      <% if can? :destroy, @link %>
        <div class="ac disable conf hide" title="remove this post" data-m="PUT" data-url="<%= disable_link_path @link %>">X</div>
      <% end %>

      <%= "<p>#{parse_mentions(@link.content, @link)}</p>".html_safe %>
    </div>

    <div class="clear"></div>
  </div>
<% else %>
  <div class="empty">This link has been removed</div>
<% end %>

<%= render "core_objects/response_header", :object => @link %>
<%= render "core_objects/responses", :responses => @responses %>