<%= form_for picture, :html => { :class => 'new_picture' } do |f| %>
  <div class="shared with-preview hide">
    <div class="preview">
      <div class="images"></div>
    </div>
    <div class="info">
      <div class="title required lClear mention-box">
        <%= f.label :title, "Picture title..." %>
        <%= f.text_area :title, :spellcheck => false, :autocomplete => :off %>
        <%= f.hidden_field :title_raw, :class => 'data', :autocomplete => :off %>
      </div>
      <div class="switcher hide">
        <div class="left"><</div>
        <div class="right">></div>
        <div class="help">choose an image</div>
      </div>
    </div>
    <div class="cancel">X</div>

    <%= f.hidden_field :source_url %>
    <%= f.hidden_field :source_name %>
    <%= render 'shared/asset_image_field', :f => f %>
  </div>
<% end %>

<% content_for :js do %>
  <%= render "pictures/upload_js" %>
<% end %>