<%= form_for picture, :html => { :class => 'core_object ajax' } do |f| %>

  <%= render "shared/mention_help" %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="errors"></div>

  <div class="group">
    <div class="field lClear required bottom important" data-tip="Picture Title">
      <%= f.label :title, "Title the picture..." %>
      <%= f.text_field :title %>
    </div>
    <div class="field lClear" data-tip="Picture Description">
      <%= f.label :content, "A short picture description..." %>
      <%= render "shared/mention_box", :f => f %>
    </div>
    <div class="field image" data-tip="The Picture">
      <%= render 'shared/core_object_image', :f => f %>
    </div>
    <div class="actions">
      <%= f.submit "Post Picture" %>
    </div>
  </div>

<% end %>
