<%= form_for @picture, :html => { :class => 'core_object noajax' } do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= render 'shared/asset_image_field', :f => f %>
  </div>
  <% if defined? response_to %>
    <%= f.hidden_field :response_to, :value => response_to.id %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
