<%= form_for(@picture) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.file_field :image %>
    <%= image_tag @picture.image_url(:d75_75) if @picture.image? %>
    <%= f.hidden_field :image_cache %>
  </div>
  <% if defined? response_to %>
    <%= f.hidden_field :response_to, :value => response_to.id %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
