<div class="teaser column <%= object._type.downcase %>" data-id="<%= object.id %>">
  <%= render 'core_objects/feed_teaser_title', :title => link_to(object.title, object), :object => object %>
  <div class="content">
    <% img = default_image_url(object, 210, 0, :fit, false, true) %>
    <% original = default_image_url(object, 0, 0, :original) %>
    <% image = image_tag img.image_url, :style => 'width: 210px; height: '+img.height.to_s+'px;', 'data-o' => '{"url":"'+original.image_url+'","w":"'+original.width.to_s+'","h":"'+original.height.to_s+'"}' if img %>
    <%= render 'core_objects/feed_teaser_image', :image => image %>

    <%= markdown(parse_mentions(object.content, object)) %>
  </div>

  <div class="connectionsC">
    <div class="s">
      <div class="picture-grey-icon oType" title="picture"></div>
      <%= render 'core_objects/feed_teaser_created', :object => object %>
    </div>
    <div class="s">
      <a href="<%= url_for object %>" class="commentC p">
        <%= object.response_count.to_i %> comments
      </a>
    </div>

    <% if object.topic_mentions.length > 0 %>
      <div class="mentions s">
        <div class="head">mentions</div>
        <% object.topic_mentions.each do |topic| %>
          <%= render 'topics/tag', :topic => topic, :include_image => false %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= render 'core_objects/feed_teaser_actions', :object => object %>
  <div class="pc pc_<%= object.id.to_s %>"></div>
  <div class="pt_<%= object.id.to_s %> hide"><%= object.pt %></div>
</div>