<% title = capture do %>
  <%= link_to object.title, object %>
  <% if object.response_to %>
    @
    <a href="{{ path('object_show', {'slug': object.connectedFrom[0].connectedTo.slug }) }}" class="p">
      [connected title]
      <span class="tType">Picture</span>
    </a>
  <% end %>
<% end %>

<% picture = capture do %>
  <% if style == :grid %>
    <% img = default_image_url(object, [190, 150]) %>
    <%= image_tag img, :style => 'max-width: 210px; max-height: 150px;' if img %>
  <% else %>
    <% img = default_image_url(object, [75, 75]) %>
    <%= image_tag img, :style => 'max-width: 75px;' if img %>
  <% end %>
<% end %>

<% content = capture do %>
  <%= parse_mentions(markdown(object.content), object) if style == :list %>
<% end %>

<% created_by = capture do %>
  <%= time_ago_in_words(object.created_at, false) %> ago by
  <%= user_link object.user_snippet %>
<% end %>

<%= render 'core_objects/list_teaser_content', :object => object, :title => title, :content => content, :created_by => created_by, :picture => picture %>

<%= render 'core_objects/list_teaser_mentions', :object => object %>

<%= render 'core_objects/list_teaser_action_box', :object => object %>