<div id="core_object_show">
  <p>
    <b>Title:</b>
    <%= @picture.title %>
  </p>

  <p>
    <b>Title:</b>
    <%= markdown(parse_mentions(@picture.content, @picture)) %>
  </p>

  <% img = default_image_url(@picture, [100, 100]) %>
  <%= image_tag img, :style => 'max-width: 100px;' if img %>
</div>

<%= render "core_objects/response_header", :object => @picture %>
<%= render "core_objects/responses", :responses => @responses %>