<% if @picture.status == "active" %>
  <% content_for :sidebar_right do %>
    <%= render_cell(:core_object, :sidebar, current_user, @picture) %>
  <% end %>

  <% content_for :page_header do %>
    <h1 class="core-object">
      <%= @picture.title_clean %>
    </h1>

    <div class="createdC">
      <%= time_ago_in_words(@picture.created_at, false) %> ago by
      <%= user_link @picture.user_snippet %>
    </div>
    <div class="clear"></div>
  <% end %>

  <div class="object-show picture">
    <% if can? :destroy, @picture %>
      <div class="ac disable conf hide" title="remove this post" data-m="PUT" data-url="<%= disable_picture_path @picture %>">X</div>
    <% end %>

    <% img = default_image_url(@picture, 620, 500, 'fit', false, true) %>
    <% original = default_image_url(@picture, 0, 0, :original) if img %>
    <% if img %>
      <div class="img expand">
        <div class='icon'><div class="full-black-icon"></div></div>
        <%= image_tag img.image_url, :style => 'max-width: 515px; max-height: 500px;', 'data-o' => '{"url":"'+original.image_url+'","w":"'+original.width.to_s+'","h":"'+original.height.to_s+'"}' if img %>
      </div>
      <div class="clear-left"></div>
    <% end %>

    <div class="content <%= 'with-image' if img %>">
      <p><%= parse_mentions(@picture.content, @picture) %></p>
    </div>

    <div class="clear"></div>
  </div>
<% else %>
  <div class="empty">This picture has been removed</div>
<% end %>

<%= render "core_objects/response_header", :object => @picture %>
<%= render "core_objects/responses", :responses => @responses %>