<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @picture.title %>
</p>

<p>
  <b>Title:</b>
  <%= @picture.content %>
</p>

<% img = default_image_url(@picture, [100, 100]) %>
<%= image_tag img[:url], img[:options] if img %>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
