<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @picture.title %>
</p>

<p>
  <b>Title:</b>
  <%= @picture.content %>
</p>

<%= image_tag default_image_url(@picture, [100, 100]), :width => "100px" %>


<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
