<button class="btn-tog <%= !signed_in? || !current_user.is_following?(target) ? 'followB' : 'unfollowB' %> fol_<%= target.id %>">
  <span class="default" data-url="<%= create_follow_path %>" data-d='{"id":"<%= target.id %>", "type":"<%= target.class.name %>"}' data-m="post">
    <div class="plus-green-icon icon"></div>
    Follow
  </span>
  <span class="triggered" data-url="<%= destroy_follow_path %>" data-d='{"id":"<%= target.id %>", "type":"<%= target.class.name %>"}' data-m="delete">
    <div class="minus-green-icon icon"></div>
    Unfollow
  </span>
</button>