<form action="<%= add_connection_path %>" id="add-connection-form" method="POST" class="ajax">

  <!--If type is defined, it's a freebase "type of" connection-->
  <% from_freebase = defined?(type) %>

  <% if from_freebase %>
    <%= hidden_field_tag "connection[con_id]", Topic.type_of_id %>
  <% else %>
    <div class="field">
      <%= collection_select(:connection, :con_id, connection_types, :id, :name, :prompt => "Connection Type") %>
    </div>
  <% end %>

  <div class="field lClear">
    <% if !from_freebase %>
      <%= label_tag "tc-auto", "Connected topic" %>
    <% end %>
    <%= text_field_tag "connection[topic_name]", (from_freebase ? type[:name] : nil), :id => "tc-auto", :class => "tc-auto" %>
  </div>

  <div class="field check-label">
    <%= check_box_tag "connection[primary]" %>
    <%= label_tag "connection[primary]", "Primary Type?" %>
  </div>

  <%= hidden_field_tag "connection[topic_id]", "" %>
  <%= hidden_field_tag "topic_id", topic_id %>

  <% if from_freebase %>
    <%= hidden_field_tag "freebase_id", type["id"] %>
    <%= hidden_field_tag "freebase_mid", type["mid"] %>
  <% end %>

  <div class="actions">
    <%= submit_tag "Add", :class => "submit" %>
  </div>
</form>