<form action="<%= add_connection_path %>" id="add-type-form" method="POST" class="ajax">

  <%= hidden_field_tag "connection[con_id]", Topic.type_of_id %>

  <%= hidden_field_tag "connection[topic1_id]", topic_id %>

  <div class="field lClear">
    <%= label_tag "tc-auto", "Connected topic" %>
    <%= text_field_tag "connection[topic_name]", nil, :id => "tc-auto", :class => "tc-auto" %>
  </div>

  <%= hidden_field_tag "connection[topic2_id]", "", :class => "tc-auto-id" %>

  <div class="actions">
    <%= submit_tag "Add Type", :class => "submit" %>
  </div>
</form>