<%= form_for TopicConnection.new, :html => { :class => 'ajax group' } do |f| %>
  <div class="errors"></div>

  <div class="field lClear bottom required">
    <%= f.label :name, "Relationship Name" %>
    <%= f.text_field :name %><br />
  </div>

  <div class="field">
    <%= f.label :pull_from, "Pull Posts From Connected Topics?" %>
    <%= f.check_box :pull_from %>
  </div>

  <div class="field lClear">
    <%= f.label :reverse_name, "Reverse Relationship Name (leave blank for bi-directional relationship)" %>
    <%= f.text_field :reverse_name %><br />
  </div>

  <div class="field">
    <%= f.label :reverse_pull_from, "Reverse - Pull Posts From Connected Topics?" %>
    <%= f.check_box :reverse_pull_from %>
  </div>

  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>