<!--#TODO: get this to affect all emails -->
<%
 if Rails.env.development?
   base = 'http://localhost:3000'
 elsif Rails.env.staging?
   base = 'http://staging.projectlimelight.com'
 else
   base = 'http://www.projectlimelight.com'
 end
%>

<div style="margin-left: 85px;">
  <%= image_tag base + image_path('logo_black.gif'), :style => 'max-width: 259px; max-height: 61px;' %>
</div>

<p>Hi <%= @user.first_name.blank? ? @user.username : @user.first_name %>,</p>

<p>Here are a few new posts we thought you might like. Enjoy!</p>

<% if !@pictures.empty? %>
  <table cellpadding="0" style="font-size: 12px; border: 2px solid #7BA821; margin-bottom: 20px;">
    <tr>
      <td align="center" colspan="3" style="font-size: 16px; color: #7BA821; padding: 5px 5px 0;">
        Pictures
      </td>
    </tr>
    <tr>
      <% @pictures.each do |picture| %>
        <td align="center" width="120" style="padding: 5px 5px 0; overflow: hidden;">
          <%= link_to picture.title, picture_url(picture), :style => "text-decoration: none;" %>
        </td>
      <% end %>
    </tr>
    <tr>
      <% @pictures.each do |picture| %>
        <td width="120" style="padding: 5px 10px">
          <% img = default_image_url(picture, 120, 120, 'fillcropmid') %>
          <a target="_blank" href="<%= picture_url picture %>">
            <%= image_tag base + img, :style => 'max-width: 120px; max-height: 120px;' if img %>
          </a>
          <span style="font-size: 10px;">
            by <%= link_to picture.user_snippet.username, user_url(picture.user_snippet), :style => "text-decoration: none;" %>
            , score: <%= sprintf "%.1f", picture.pt %>
          </span>
        </td>
      <% end %>
    </tr>
  </table>
<% end %>

<% if !@news.empty? %>
  <table cellpadding="0" style="font-size: 12px; border: 2px solid #C52828; margin-bottom: 20px;">
    <tr>
      <td align="center" colspan="3" style="font-size: 16px; color: #C52828; padding: 5px 5px 0;">
        News
      </td>
    </tr>
    <tr>
      <% @news.each do |news| %>
        <td align="center" width="120" style="padding: 5px 5px 0; overflow: hidden;">
          <%= link_to news.title, news_url(news), :style => "text-decoration: none;" %>
        </td>
      <% end %>
    </tr>
    <tr>
      <% @news.each do |news| %>
        <td width="120" style="padding: 5px 10px">
          <% img = default_image_url(news, 120, 120, 'fillcropmid') %>
          <% if img %>
            <a target="_blank" href="<%= news_url news %>">
              <%= image_tag base + img, :style => 'max-width: 120px; max-height: 120px;' if img %>
            </a>
          <% else %>
            <%= markdown(parse_mentions(news.content, news, true)) %>
          <% end %>
          <span style="font-size: 10px;">
            by <%= link_to news.user_snippet.username, user_url(news.user_snippet), :style => "text-decoration: none;" %>
            , score: <%= sprintf "%.1f", news.pt %>
          </span>
        </td>
      <% end %>
    </tr>
  </table>
<% end %>

<% if !@videos.empty? %>
  <table cellpadding="0" style="font-size: 12px; border: 2px solid #51A2CC; margin-bottom: 20px;">
    <tr>
      <td align="center" colspan="3" style="font-size: 16px; color: #51A2CC; padding: 5px 5px 0;">
        Videos
      </td>
    </tr>
    <tr>
      <% @videos.each do |video| %>
        <td align="center" width="120" style="padding: 5px 5px 0; overflow: hidden;">
          <%= link_to video.title, video_url(video), :style => "text-decoration: none;" %>
        </td>
      <% end %>
    </tr>
    <tr>
      <% @videos.each do |video| %>
        <td width="120" style="padding: 5px 10px">
          <%= markdown(parse_mentions(video.content, video, true)) %>
          <span style="font-size: 10px;">
            by <%= link_to video.user_snippet.username, user_url(video.user_snippet), :style => "text-decoration: none;" %>
            , score: <%= sprintf "%.1f", video.pt %>
          </span>
        </td>
      <% end %>
    </tr>
  </table>
<% end %>

<% if !@talks.empty? %>
  <table cellpadding="0" style="font-size: 12px; border: 2px solid #D88E00; margin-bottom: 10px;">
    <tr>
      <td align="center" colspan="3" style="font-size: 16px; color: #D88E00; padding: 5px 5px 0;">
        Talks
      </td>
    </tr>
    <tr>
      <% @talks.each do |talk| %>
        <td width="120" style="padding: 5px 10px">
          <%= markdown(parse_mentions(talk.content, talk, true)) %>
          <span style="font-size: 10px;">
            by <%= link_to talk.user_snippet.username, user_url(talk.user_snippet), :style => "text-decoration: none;" %>,
            score: <%= sprintf "%.1f", talk.pt %>
          </span>
        </td>
      <% end %>
    </tr>
  </table>
<% end %>

<p>If you wish to change the frequency of these emails, please log in and click "Settings" on the left panel.</p>