<h1>Listing crawler_sources</h1>

<%= link_to 'New Crawler source', new_crawler_source_path %>

<table>
  <tr>
    <th>Source name</th>
    <th>Category</th>
    <th>Url</th>
    <th>Last crawled</th>
    <th>Last modified</th>
    <th>Posts added</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @crawler_sources.each do |crawler_source| %>
  <tr>
    <td><%= crawler_source.source_name %></td>
    <td><%= crawler_source.category %></td>
    <td><%= crawler_source.url %></td>
    <td><%= pretty_time(crawler_source.last_crawled) if crawler_source.last_crawled %></td>
    <td><%= pretty_time(crawler_source.last_modified) if crawler_source.last_modified %></td>
    <td><%= crawler_source.posts_added %></td>
    <td><%= crawler_source.status %></td>
    <td><%= link_to 'Show', crawler_source %></td>
    <td><%= link_to 'Edit', edit_crawler_source_path(crawler_source) %></td>
    <td><%= link_to 'Destroy', crawler_source, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />