<%
 if Rails.env.development?
   base = 'http://localhost:3000'
 elsif Rails.env.staging?
   base = 'http://staging.projectlimelight.com'
 else
   base = 'http://www.projectlimelight.com'
 end
%>

<div align="center">
  <a href="<%= base %>">
    <%= image_tag base + image_path('logo_black.gif'), :style => 'max-width: 259px; max-height: 61px;', :alt => "" %>
  </a>
</div>

<p><%= user_link(@from_user, nil, base) %> shared a <%= @shared.class.name.downcase %> with you on Limelight.</p>

<p>
  <%= "<a href='#{base+core_object_url(@shared, @shared.class.name)}'>#{@shared.name}</a>".html_safe %>
  by <%= @object_user.id == @from_user.id ? @from_user.username : user_link(@object_user, nil, base) %>
</p>

<p>If you wish to change the frequency of these emails, please log in and click "Settings" on the left panel.</p>