<div class="scoreC">
  <button class="btn_tog <%= !signed_in? || !object.voter?(current_user.id, 1) ? 'voteB' : 'unvoteB' %> v_<%= object.id %>">
    <span class="default" data-url="<%= create_vote_path %>" data-d='{"id":"<%= object.id %>","a":"1"}' data-m="post">
      <div class="plus-grey-icon icon"></div>
    </span>
    <span class="triggered" data-url="<%= destroy_vote_path %>" data-d='{"id":"<%= object.id %>"}' data-m="delete">
      <div class="plus-green-icon icon"></div>
    </span>
  </button>
  <button class="btn <%= !signed_in? || !object.voter?(current_user.id, -1) ? 'voteB' : 'unvoteB' %> v_<%= object.id %>">
    <span class="default" data-url="<%= create_vote_path %>" data-d='{"id":"<%= object.id %>","a":"-1"}' data-m="post">
      <div class="minus-grey-icon icon"></div>
    </span>
    <span class="triggered" data-url="<%= destroy_vote_path %>" data-d='{"id":"<%= object.id %>"}' data-m="delete">
      <div class="minus-green-icon icon"></div>
    </span>
  </button>
</div>