<!doctype html>
  <!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
  <!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!--<link rel="shortcut icon" href="{{ asset('favicon.ico') }}"/>-->
    <%= stylesheet_link_tag "application" %>
    <!--[if lt IE 9]><%= stylesheet_link_tag "ie" %><![endif]-->
    <%= csrf_meta_tag %>
  </head>
  <body id="<%= params[:controller].parameterize %>-c">
    <div id="application">
      <%= render 'shared/header' %>
      <div id="content">
        <%= render_cell :user, :sidebar_left %>

        <div id="sidebar-right" class="scroll">
          <div class="wrap">
            <%= yield :sidebar_right %>
          </div>
        </div>

        <div id="page_header">
          <div class="wrap">
            <section class="round">
              <%- flash.each do |name, msg| -%>
                <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
              <%- end -%>
            </section>
            <%= yield :page_header %>
          </div>
        </div>

        <div id="page">
          <div id="page_content" class="<%= params[:action].parameterize %>-c">
            <%= yield %>
            <% if Rails.env.development? %>
              <%= debug(params) %>
              <div id="debug-upload-runtime">Upload Runtime: No runtime found</div>
            <% end %>
          </div>
          <div id="page_cover"></div>
        </div>
      </div>
      <div id="footer">
        <%= yield :footer %>
        <div id="plt"><%= load_time %></div>
      </div>

      <div id="ajax-loading">Loading...</div>
      <div id="ajax-notice"></div>
      <div id="ajax-error"></div>
    </div>

    <!-- HIDDEN TOOLS -->
    <div id="mouse-score"></div>
    <%= render "shared/contribute", :id => 'top-contribute', :responding => nil %>
    <div id="form-submitting">Form submitting...</div>
    <div style="display: none">
      <div id="static-data" data-d='<%= static_data %>'></div>
      <div id="feed-reload" data-url='<%= request.url %>' class='ac'></div>
      <%= render "core_object_shares/form" %>

      <div id="auth_box">
        <div class="items">
          <div class="form-toggle auth-login on" data-target="#auth-login">Login</div>
          <div class="form-toggle auth-register" data-target="#auth-register">Register</div>
          <div id="auth-login">
            <%= render "users/sessions/new" %>
          </div>
          <div id="auth-register" class="hide">
            <%= render "users/registrations/new" %>
          </div>
        </div>
      </div>
    </div>

    <script src="http://js.pusherapp.com/1.9/pusher.min.js"></script>
    <script type="text/javascript">
      <% unless Rails.env.production? %>
        Pusher.log = function(message) {
          if (window.console && window.console.log) window.console.log(message);
        };

        // Flash fallback logging - don't include this in production
        WEB_SOCKET_DEBUG = true;
      <% end %>

      var pusher = new Pusher('<%= Pusher.key %>');
    </script>

    <%= javascript_include_tag "application" %>
    <%= yield :js %>

    <!-- Start of Woopra Code -->
    <% unless Rails.env.development? %>
      <script type="text/javascript">
        function woopraReady(tracker) {
            tracker.setDomain('<%= Rails.env.staging? ? 'staging.projectlimelight.com' : 'projectlimelight.com' %>');
            tracker.setIdleTimeout(300000);

            <% if signed_in? %>
                tracker.addVisitorProperty('username', '<%= current_user.username %>');
                tracker.addVisitorProperty('name', '<%= current_user.fullname %>');
                tracker.addVisitorProperty('email', '<%= current_user.email %>');
            <% end %>

            tracker.track();

            return false;
        }
        (function() {
            var wsc = document.createElement('script');
            wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js';
            wsc.type = 'text/javascript';
            wsc.async = true;
            var ssc = document.getElementsByTagName('script')[0];
            ssc.parentNode.insertBefore(wsc, ssc);
        })();
      </script>
    <% end %>

    <div pub-key="<%= ENV['PUBNUB_PUBLISH_KEY'] || 'demo' %>" sub-key="<%= ENV['PUBNUB_SUBSCRIBE_KEY'] || 'demo' %>" ssl="off" origin="pubsub.pubnub.com" id="pubnub"></div>
    <!--<script src="http://cdn.pubnub.com/pubnub-3.1.min.js"></script>-->

  </body>
</html>
