<!DOCTYPE HTML>
  <!--[if lt IE 7]> <html class="no-js ie6 oldie" xmlns:fb="http://ogp.me/ns/fb#" lang="en"> <![endif]-->
  <!--[if IE 7]>    <html class="no-js ie7 oldie" xmlns:fb="http://ogp.me/ns/fb#" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js ie8 oldie" xmlns:fb="http://ogp.me/ns/fb#" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#" lang="en"> <!--<![endif]-->
  <head>
    <%= render :partial => 'shared/head' %>
  </head>
  <body id="<%= params[:controller].parameterize %>-c" class="three">

    <%= render 'shared/header' if signed_in? && current_user.tutorial_step == 0 %>

    <div id="page-header">
      <div class="container">
        <div class='inner'>
          <div class='top'>
            <h1></h1>
          </div>
          <ul class='links unstyled'></ul>
          <ul class='sorting unstyled'>
            <li class='on' data-sort='newest'>Real-Time<span>/</span></li>
            <li class='last' data-sort='popular'>Popular</li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="wrapper <%= params[:action].parameterize %>-c">
      <div class="sidebar">
        <%= yield :sidebar %>
      </div>
      <div class="content container-fluid">
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <a class="close" data-dismiss="alert">×</a>
            <%= msg %>
          </div>
        <% end %>
        <div class='row-fluid'>
          <div class='span12'>
            <div id='feed'>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%= render 'shared/layout_js' %>

    <%= render :partial => 'shared/social_tools' %>

    <% if defined? @this %>
      <div id='this' data-this='<%= render(template: "#{@this[:group]}/#{@this[:template]}.json.rabl") %>'></div>
    <% end %>
    <% @user = current_user %>
    <div id='me' data-user='<%= render(template: "users/show_extra.json.rabl") %>'></div>

  </body>
</html>
