<!doctype html>
  <!--[if lt IE 7]> <html class="no-js ie6 oldie" xmlns:fb="http://ogp.me/ns/fb#" lang="en"> <![endif]-->
  <!--[if IE 7]>    <html class="no-js ie7 oldie" xmlns:fb="http://ogp.me/ns/fb#" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js ie8 oldie" xmlns:fb="http://ogp.me/ns/fb#" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#" lang="en"> <!--<![endif]-->
  <head>
    <%= render :partial => 'shared/head' %>
  </head>

  <body id="<%= params[:controller].parameterize %>-c" class="<%= site_style %> blank">
    <div id="page_content" class="<%= params[:action].parameterize %>-c">
      <%= yield %>
    </div>

    <!-- HIDDEN TOOLS -->
    <div style="display: none">
      <div id="static-data" data-d='<%= static_data %>' <%= "data-push='#{current_user.id}_private'" if signed_in? %>></div>
    </div>

    <%= render 'shared/layout_js' %>

    <%= render :partial => 'shared/social_tools' %>
  </body>
</html>
