<!DOCTYPE HTML>
  <!--[if lt IE 7]> <html class="no-js ie6 oldie" xmlns:fb="http://ogp.me/ns/fb#" lang="en"> <![endif]-->
  <!--[if IE 7]>    <html class="no-js ie7 oldie" xmlns:fb="http://ogp.me/ns/fb#" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js ie8 oldie" xmlns:fb="http://ogp.me/ns/fb#" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#" lang="en"> <!--<![endif]-->
  <%= render :partial => 'shared/head' %>

  <body id="blank">
    <%= yield %>
    <%= render 'shared/layout_js' %>
    <%= render :partial => 'shared/social_tools' %>

    <% if signed_in? %>
      <script type="text/javascript" charset="utf-8">
        //<![CDATA[
        var current_user = <%= raw current_user.to_json(:properties => :public).gsub('/', '\/') %>;
        // ]]>
      </script>
    <% else %>
      <%= render 'users/splash', :extra_class => 'hide' %>
    <% end %>
  </body>
</html>