<!doctype html>
  <!--[if lt IE 7]> <html class="no-js ie6 oldie" xmlns:fb="http://ogp.me/ns/fb#" lang="en"> <![endif]-->
  <!--[if IE 7]>    <html class="no-js ie7 oldie" xmlns:fb="http://ogp.me/ns/fb#" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js ie8 oldie" xmlns:fb="http://ogp.me/ns/fb#" lang="en"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js" xmlns:fb="http://ogp.me/ns/fb#" lang="en"> <!--<![endif]-->
  <head>
    <%= render :partial => 'shared/head' %>
  </head>

  <body id="<%= params[:controller].parameterize %>-c" class="blank">
    <div id="topic-wall-container" class="<%= params[:action].parameterize %>">
      <%= yield %>
    </div>

    <%= render_cell :topic, :wall %>

    <!-- HIDDEN TOOLS -->
    <div id="form-submitting">Form submitting...</div>
    <div style="display: none">
      <div id="static-data" data-d='<%= static_data %>' <%= "data-push='#{current_user.id}_private'" if signed_in? %>></div>
    </div>

    <div class='sentiment-bar'>
      <div class='bar topics'>
        <div class='positive' data-url='<%= sentiment_create_path(:positive) %>'>LIKE</div>
        <div class='negative' data-url='<%= sentiment_create_path(:negative) %>'>DISLIKE</div>
        <div class='neutral' data-url='<%= sentiment_create_path(:neutral) %>'>DON'T CARE</div>
      </div>
    </div>

    <%= render 'shared/layout_js' %>

    <%= render :partial => 'shared/social_tools' %>
  </body>
</html>
